# Telecom Churn Problem Statement

In the telecom industry, customers are able to choose from multiple service providers and actively switch from one operator to another. In this highly competitive market, the telecommunications industry experiences an average of 15-25% annual churn rate. Given the fact that it costs 5-10 times more to acquire a new customer than to retain an existing one, customer retention has now become even more important than customer acquisition.

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# To ignore warnings
import warnings
warnings.filterwarnings("ignore")

from sklearn import metrics

In [2]:
telecom = pd.read_csv('telecom_churn_data.csv')

In [3]:
telecom.head()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
0,7000842753,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,197.385,...,0,1.0,1.0,1.0,NaN,968,30.4,0.0,101.20,3.58
1,7001865778,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,34.047,...,0,NaN,1.0,1.0,NaN,1006,0.0,0.0,0.00,0.00
2,7001625959,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,167.690,...,0,NaN,NaN,NaN,1.0,1103,0.0,0.0,4.17,0.00
3,7001204172,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,221.338,...,0,NaN,NaN,NaN,NaN,2491,0.0,0.0,0.00,0.00
4,7000142493,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,261.636,...,0,0.0,NaN,NaN,NaN,1526,0.0,0.0,0.00,0.00

In [4]:
telecom.shape

(99999, 226)

In [5]:
telecom.columns.tolist()

['mobile_number',
 'circle_id',
 'loc_og_t2o_mou',
 'std_og_t2o_mou',
 'loc_ic_t2o_mou',
 'last_date_of_month_6',
 'last_date_of_month_7',
 'last_date_of_month_8',
 'last_date_of_month_9',
 'arpu_6',
 'arpu_7',
 'arpu_8',
 'arpu_9',
 'onnet_mou_6',
 'onnet_mou_7',
 'onnet_mou_8',
 'onnet_mou_9',
 'offnet_mou_6',
 'offnet_mou_7',
 'offnet_mou_8',
 'offnet_mou_9',
 'roam_ic_mou_6',
 'roam_ic_mou_7',
 'roam_ic_mou_8',
 'roam_ic_mou_9',
 'roam_og_mou_6',
 'roam_og_mou_7',
 'roam_og_mou_8',
 'roam_og_mou_9',
 'loc_og_t2t_mou_6',
 'loc_og_t2t_mou_7',
 'loc_og_t2t_mou_8',
 'loc_og_t2t_mou_9',
 'loc_og_t2m_mou_6',
 'loc_og_t2m_mou_7',
 'loc_og_t2m_mou_8',
 'loc_og_t2m_mou_9',
 'loc_og_t2f_mou_6',
 'loc_og_t2f_mou_7',
 'loc_og_t2f_mou_8',
 'loc_og_t2f_mou_9',
 'loc_og_t2c_mou_6',
 'loc_og_t2c_mou_7',
 'loc_og_t2c_mou_8',
 'loc_og_t2c_mou_9',
 'loc_og_mou_6',
 'loc_og_mou_7',
 'loc_og_mou_8',
 'loc_og_mou_9',
 'std_og_t2t_mou_6',
 'std_og_t2t_mou_7',
 'std_og_t2t_mou_8',
 'std_og_t2t_mou_9',
 'std_og_t2m_mou_6',
 'std_og_t2m_mou_7',
 'std_og_t2m_mou_8',
 'std_og_t2m_mou_9',
 'std_og_t2f_mou_6',
 'std_og_t2f_mou_7',
 'std_og_t2f_mou_8',
 'std_og_t2f_mou_9',
 'std_og_t2c_mou_6',
 'std_og_t2c_mou_7',
 'std_og_t2c_mou_8',
 'std_og_t2c_mou_9',
 'std_og_mou_6',
 'std_og_mou_7',
 'std_og_mou_8',
 'std_og_mou_9',
 'isd_og_mou_6',
 'isd_og_mou_7',
 'isd_og_mou_8',
 'isd_og_mou_9',
 'spl_og_mou_6',
 'spl_og_mou_7',
 'spl_og_mou_8',
 'spl_og_mou_9',
 'og_others_6',
 'og_others_7',
 'og_others_8',
 'og_others_9',
 'total_og_mou_6',
 'total_og_mou_7',
 'total_og_mou_8',
 'total_og_mou_9',
 'loc_ic_t2t_mou_6',
 'loc_ic_t2t_mou_7',
 'loc_ic_t2t_mou_8',
 'loc_ic_t2t_mou_9',
 'loc_ic_t2m_mou_6',
 'loc_ic_t2m_mou_7',
 'loc_ic_t2m_mou_8',
 'loc_ic_t2m_mou_9',
 'loc_ic_t2f_mou_6',
 'loc_ic_t2f_mou_7',
 'loc_ic_t2f_mou_8',
 'loc_ic_t2f_mou_9',
 'loc_ic_mou_6',
 'loc_ic_mou_7',
 'loc_ic_mou_8',
 'loc_ic_mou_9',
 'std_ic_t2t_mou_6',
 'std_ic_t2t_mou_7',
 'std_ic_t2t_mou_8',
 'std_ic_t2t_mou_9',
 'std_ic_t2m_mou_6',
 'std_ic_t2m_mou_7',
 'std_ic_t2m_mou_8',
 'std_ic_t2m_mou_9',
 'std_ic_t2f_mou_6',
 'std_ic_t2f_mou_7',
 'std_ic_t2f_mou_8',
 'std_ic_t2f_mou_9',
 'std_ic_t2o_mou_6',
 'std_ic_t2o_mou_7',
 'std_ic_t2o_mou_8',
 'std_ic_t2o_mou_9',
 'std_ic_mou_6',
 'std_ic_mou_7',
 'std_ic_mou_8',
 'std_ic_mou_9',
 'total_ic_mou_6',
 'total_ic_mou_7',
 'total_ic_mou_8',
 'total_ic_mou_9',
 'spl_ic_mou_6',
 'spl_ic_mou_7',
 'spl_ic_mou_8',
 'spl_ic_mou_9',
 'isd_ic_mou_6',
 'isd_ic_mou_7',
 'isd_ic_mou_8',
 'isd_ic_mou_9',
 'ic_others_6',
 'ic_others_7',
 'ic_others_8',
 'ic_others_9',
 'total_rech_num_6',
 'total_rech_num_7',
 'total_rech_num_8',
 'total_rech_num_9',
 'total_rech_amt_6',
 'total_rech_amt_7',
 'total_rech_amt_8',
 'total_rech_amt_9',
 'max_rech_amt_6',
 'max_rech_amt_7',
 'max_rech_amt_8',
 'max_rech_amt_9',
 'date_of_last_rech_6',
 'date_of_last_rech_7',
 'date_of_last_rech_8',
 'date_of_last_rech_9',
 'last_day_rch_amt_6',
 'last_day_rch_amt_7',
 'last_day_rch_amt_8',
 'last_day_rch_amt_9',
 'date_of_last_rech_data_6',
 'date_of_last_rech_data_7',
 'date_of_last_rech_data_8',
 'date_of_last_rech_data_9',
 'total_rech_data_6',
 'total_rech_data_7',
 'total_rech_data_8',
 'total_rech_data_9',
 'max_rech_data_6',
 'max_rech_data_7',
 'max_rech_data_8',
 'max_rech_data_9',
 'count_rech_2g_6',
 'count_rech_2g_7',
 'count_rech_2g_8',
 'count_rech_2g_9',
 'count_rech_3g_6',
 'count_rech_3g_7',
 'count_rech_3g_8',
 'count_rech_3g_9',
 'av_rech_amt_data_6',
 'av_rech_amt_data_7',
 'av_rech_amt_data_8',
 'av_rech_amt_data_9',
 'vol_2g_mb_6',
 'vol_2g_mb_7',
 'vol_2g_mb_8',
 'vol_2g_mb_9',
 'vol_3g_mb_6',
 'vol_3g_mb_7',
 'vol_3g_mb_8',
 'vol_3g_mb_9',
 'arpu_3g_6',
 'arpu_3g_7',
 'arpu_3g_8',
 'arpu_3g_9',
 'arpu_2g_6',
 'arpu_2g_7',
 'arpu_2g_8',
 'arpu_2g_9',
 'night_pck_user_6',
 'night_pck_user_7',
 'night_pck_user_8',
 'night_pck_user_9',
 'monthly_2g_6',
 'monthly_2g_7',
 'monthly_2g_8',
 'monthly_2g_9',
 'sachet_2g_6',
 'sachet_2g_7',
 'sachet_2g_8',
 'sachet_2g_9',
 'monthly_3g_6',
 'monthly_3g_7',
 'monthly_3g_8',
 'monthly_3g_9',
 'sachet_3g_6',
 'sachet_3g_7',
 'sachet_3g_8',
 'sachet_3g_9',
 'fb_user_6',
 'fb_user_7',
 'fb_user_8',
 'fb_user_9',
 'aon',
 'aug_vbc_3g',
 'jul_vbc_3g',
 'jun_vbc_3g',
 'sep_vbc_3g']

In [6]:
telecom.describe()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,arpu_6,arpu_7,arpu_8,arpu_9,onnet_mou_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
count,9.999900e+04,99999.0,98981.0,98981.0,98981.0,99999.000000,99999.000000,99999.000000,99999.000000,96062.000000,...,99999.000000,25153.000000,25571.000000,26339.000000,25922.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000
mean,7.001207e+09,109.0,0.0,0.0,0.0,282.987358,278.536648,279.154731,261.645069,132.395875,...,0.084581,0.914404,0.908764,0.890808,0.860968,1219.854749,68.170248,66.839062,60.021204,3.299373
std,6.956694e+05,0.0,0.0,0.0,0.0,328.439770,338.156291,344.474791,341.998630,297.207406,...,0.650457,0.279772,0.287950,0.311885,0.345987,954.733842,267.580450,271.201856,253.938223,32.408353
min,7.000000e+09,109.0,0.0,0.0,0.0,-2258.709000,-2014.045000,-945.808000,-1899.505000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,180.000000,0.000000,0.000000,0.000000,0.000000
25%,7.000606e+09,109.0,0.0,0.0,0.0,93.411500,86.980500,84.126000,62.685000,7.380000,...,0.000000,1.000000,1.000000,1.000000,1.000000,467.000000,0.000000,0.000000,0.000000,0.000000
50%,7.001205e+09,109.0,0.0,0.0,0.0,197.704000,191.640000,192.080000,176.849000,34.310000,...,0.000000,1.000000,1.000000,1.000000,1.000000,863.000000,0.000000,0.000000,0.000000,0.000000
75%,7.001812e+09,109.0,0.0,0.0,0.0,371.060000,365.344500,369.370500,353.466500,118.740000,...,0.000000,1.000000,1.000000,1.000000,1.000000,1807.500000,0.000000,0.000000,0.000000,0.000000
max,7.002411e+09,109.0,0.0,0.0,0.0,27731.088000,35145.834000,33543.624000,38805.617000,7376.710000,...,49.000000,1.000000,1.000000,1.000000,1.000000,4337.000000,12916.220000,9165.600000,11166.210000,2618.570000

In [7]:
telecom.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Data columns (total 226 columns):
mobile_number               99999 non-null int64
circle_id                   99999 non-null int64
loc_og_t2o_mou              98981 non-null float64
std_og_t2o_mou              98981 non-null float64
loc_ic_t2o_mou              98981 non-null float64
last_date_of_month_6        99999 non-null object
last_date_of_month_7        99398 non-null object
last_date_of_month_8        98899 non-null object
last_date_of_month_9        98340 non-null object
arpu_6                      99999 non-null float64
arpu_7                      99999 non-null float64
arpu_8                      99999 non-null float64
arpu_9                      99999 non-null float64
onnet_mou_6                 96062 non-null float64
onnet_mou_7                 96140 non-null float64
onnet_mou_8                 94621 non-null float64
onnet_mou_9                 92254 non-null float64
offnet_mou_6                96062 non-null float64
offnet_mou_7                96140 non-null float64
offnet_mou_8                94621 non-null float64
offnet_mou_9                92254 non-null float64
roam_ic_mou_6               96062 non-null float64
roam_ic_mou_7               96140 non-null float64
roam_ic_mou_8               94621 non-null float64
roam_ic_mou_9               92254 non-null float64
roam_og_mou_6               96062 non-null float64
roam_og_mou_7               96140 non-null float64
roam_og_mou_8               94621 non-null float64
roam_og_mou_9               92254 non-null float64
loc_og_t2t_mou_6            96062 non-null float64
loc_og_t2t_mou_7            96140 non-null float64
loc_og_t2t_mou_8            94621 non-null float64
loc_og_t2t_mou_9            92254 non-null float64
loc_og_t2m_mou_6            96062 non-null float64
loc_og_t2m_mou_7            96140 non-null float64
loc_og_t2m_mou_8            94621 non-null float64
loc_og_t2m_mou_9            92254 non-null float64
loc_og_t2f_mou_6            96062 non-null float64
loc_og_t2f_mou_7            96140 non-null float64
loc_og_t2f_mou_8            94621 non-null float64
loc_og_t2f_mou_9            92254 non-null float64
loc_og_t2c_mou_6            96062 non-null float64
loc_og_t2c_mou_7            96140 non-null float64
loc_og_t2c_mou_8            94621 non-null float64
loc_og_t2c_mou_9            92254 non-null float64
loc_og_mou_6                96062 non-null float64
loc_og_mou_7                96140 non-null float64
loc_og_mou_8                94621 non-null float64
loc_og_mou_9                92254 non-null float64
std_og_t2t_mou_6            96062 non-null float64
std_og_t2t_mou_7            96140 non-null float64
std_og_t2t_mou_8            94621 non-null float64
std_og_t2t_mou_9            92254 non-null float64
std_og_t2m_mou_6            96062 non-null float64
std_og_t2m_mou_7            96140 non-null float64
std_og_t2m_mou_8            94621 non-null float64
std_og_t2m_mou_9            92254 non-null float64
std_og_t2f_mou_6            96062 non-null float64
std_og_t2f_mou_7            96140 non-null float64
std_og_t2f_mou_8            94621 non-null float64
std_og_t2f_mou_9            92254 non-null float64
std_og_t2c_mou_6            96062 non-null float64
std_og_t2c_mou_7            96140 non-null float64
std_og_t2c_mou_8            94621 non-null float64
std_og_t2c_mou_9            92254 non-null float64
std_og_mou_6                96062 non-null float64
std_og_mou_7                96140 non-null float64
std_og_mou_8                94621 non-null float64
std_og_mou_9                92254 non-null float64
isd_og_mou_6                96062 non-null float64
isd_og_mou_7                96140 non-null float64
isd_og_mou_8                94621 non-null float64
isd_og_mou_9                92254 non-null float64
spl_og_mou_6                96062 non-null float64
spl_og_mou_7                96140 non-null float64
spl_og_mou_8                94621 non-null float64
spl_og_mou_9                92254 non-null float64
og_others_6                 96062 non-null float64
og_others_7                 96140 non-null float64
og_others_8                 94621 non-null float64
og_others_9                 92254 non-null float64
total_og_mou_6              99999 non-null float64
total_og_mou_7              99999 non-null float64
total_og_mou_8              99999 non-null float64
total_og_mou_9              99999 non-null float64
loc_ic_t2t_mou_6            96062 non-null float64
loc_ic_t2t_mou_7            96140 non-null float64
loc_ic_t2t_mou_8            94621 non-null float64
loc_ic_t2t_mou_9            92254 non-null float64
loc_ic_t2m_mou_6            96062 non-null float64
loc_ic_t2m_mou_7            96140 non-null float64
loc_ic_t2m_mou_8            94621 non-null float64
loc_ic_t2m_mou_9            92254 non-null float64
loc_ic_t2f_mou_6            96062 non-null float64
loc_ic_t2f_mou_7            96140 non-null float64
loc_ic_t2f_mou_8            94621 non-null float64
loc_ic_t2f_mou_9            92254 non-null float64
loc_ic_mou_6                96062 non-null float64
loc_ic_mou_7                96140 non-null float64
loc_ic_mou_8                94621 non-null float64
loc_ic_mou_9                92254 non-null float64
std_ic_t2t_mou_6            96062 non-null float64
std_ic_t2t_mou_7            96140 non-null float64
std_ic_t2t_mou_8            94621 non-null float64
std_ic_t2t_mou_9            92254 non-null float64
std_ic_t2m_mou_6            96062 non-null float64
std_ic_t2m_mou_7            96140 non-null float64
std_ic_t2m_mou_8            94621 non-null float64
std_ic_t2m_mou_9            92254 non-null float64
std_ic_t2f_mou_6            96062 non-null float64
std_ic_t2f_mou_7            96140 non-null float64
std_ic_t2f_mou_8            94621 non-null float64
std_ic_t2f_mou_9            92254 non-null float64
std_ic_t2o_mou_6            96062 non-null float64
std_ic_t2o_mou_7            96140 non-null float64
std_ic_t2o_mou_8            94621 non-null float64
std_ic_t2o_mou_9            92254 non-null float64
std_ic_mou_6                96062 non-null float64
std_ic_mou_7                96140 non-null float64
std_ic_mou_8                94621 non-null float64
std_ic_mou_9                92254 non-null float64
total_ic_mou_6              99999 non-null float64
total_ic_mou_7              99999 non-null float64
total_ic_mou_8              99999 non-null float64
total_ic_mou_9              99999 non-null float64
spl_ic_mou_6                96062 non-null float64
spl_ic_mou_7                96140 non-null float64
spl_ic_mou_8                94621 non-null float64
spl_ic_mou_9                92254 non-null float64
isd_ic_mou_6                96062 non-null float64
isd_ic_mou_7                96140 non-null float64
isd_ic_mou_8                94621 non-null float64
isd_ic_mou_9                92254 non-null float64
ic_others_6                 96062 non-null float64
ic_others_7                 96140 non-null float64
ic_others_8                 94621 non-null float64
ic_others_9                 92254 non-null float64
total_rech_num_6            99999 non-null int64
total_rech_num_7            99999 non-null int64
total_rech_num_8            99999 non-null int64
total_rech_num_9            99999 non-null int64
total_rech_amt_6            99999 non-null int64
total_rech_amt_7            99999 non-null int64
total_rech_amt_8            99999 non-null int64
total_rech_amt_9            99999 non-null int64
max_rech_amt_6              99999 non-null int64
max_rech_amt_7              99999 non-null int64
max_rech_amt_8              99999 non-null int64
max_rech_amt_9              99999 non-null int64
date_of_last_rech_6         98392 non-null object
date_of_last_rech_7         98232 non-null object
date_of_last_rech_8         96377 non-null object
date_of_last_rech_9         95239 non-null object
last_day_rch_amt_6          99999 non-null int64
last_day_rch_amt_7          99999 non-null int64
last_day_rch_amt_8          99999 non-null int64
last_day_rch_amt_9          99999 non-null int64
date_of_last_rech_data_6    25153 non-null object
date_of_last_rech_data_7    25571 non-null object
date_of_last_rech_data_8    26339 non-null object
date_of_last_rech_data_9    25922 non-null object
total_rech_data_6           25153 non-null float64
total_rech_data_7           25571 non-null float64
total_rech_data_8           26339 non-null float64
total_rech_data_9           25922 non-null float64
max_rech_data_6             25153 non-null float64
max_rech_data_7             25571 non-null float64
max_rech_data_8             26339 non-null float64
max_rech_data_9             25922 non-null float64
count_rech_2g_6             25153 non-null float64
count_rech_2g_7             25571 non-null float64
count_rech_2g_8             26339 non-null float64
count_rech_2g_9             25922 non-null float64
count_rech_3g_6             25153 non-null float64
count_rech_3g_7             25571 non-null float64
count_rech_3g_8             26339 non-null float64
count_rech_3g_9             25922 non-null float64
av_rech_amt_data_6          25153 non-null float64
av_rech_amt_data_7          25571 non-null float64
av_rech_amt_data_8          26339 non-null float64
av_rech_amt_data_9          25922 non-null float64
vol_2g_mb_6                 99999 non-null float64
vol_2g_mb_7                 99999 non-null float64
vol_2g_mb_8                 99999 non-null float64
vol_2g_mb_9                 99999 non-null float64
vol_3g_mb_6                 99999 non-null float64
vol_3g_mb_7                 99999 non-null float64
vol_3g_mb_8                 99999 non-null float64
vol_3g_mb_9                 99999 non-null float64
arpu_3g_6                   25153 non-null float64
arpu_3g_7                   25571 non-null float64
arpu_3g_8                   26339 non-null float64
arpu_3g_9                   25922 non-null float64
arpu_2g_6                   25153 non-null float64
arpu_2g_7                   25571 non-null float64
arpu_2g_8                   26339 non-null float64
arpu_2g_9                   25922 non-null float64
night_pck_user_6            25153 non-null float64
night_pck_user_7            25571 non-null float64
night_pck_user_8            26339 non-null float64
night_pck_user_9            25922 non-null float64
monthly_2g_6                99999 non-null int64
monthly_2g_7                99999 non-null int64
monthly_2g_8                99999 non-null int64
monthly_2g_9                99999 non-null int64
sachet_2g_6                 99999 non-null int64
sachet_2g_7                 99999 non-null int64
sachet_2g_8                 99999 non-null int64
sachet_2g_9                 99999 non-null int64
monthly_3g_6                99999 non-null int64
monthly_3g_7                99999 non-null int64
monthly_3g_8                99999 non-null int64
monthly_3g_9                99999 non-null int64
sachet_3g_6                 99999 non-null int64
sachet_3g_7                 99999 non-null int64
sachet_3g_8                 99999 non-null int64
sachet_3g_9                 99999 non-null int64
fb_user_6                   25153 non-null float64
fb_user_7                   25571 non-null float64
fb_user_8                   26339 non-null float64
fb_user_9                   25922 non-null float64
aon                         99999 non-null int64
aug_vbc_3g                  99999 non-null float64
jul_vbc_3g                  99999 non-null float64
jun_vbc_3g                  99999 non-null float64
sep_vbc_3g                  99999 non-null float64
dtypes: float64(179), int64(35), object(12)
memory usage: 172.4+ MB

In [8]:
#(telecom.isnull().sum())/(telecom.index().sum())

In [9]:
telecom.shape

(99999, 226)

In [10]:
#Drop records for which the last recharge date(calling and data) is null for June,July,August

telecom.drop(telecom[telecom['date_of_last_rech_6'].isnull() &
             telecom['date_of_last_rech_data_6'].isnull() &
             telecom['date_of_last_rech_7'].isnull() &    
             telecom['date_of_last_rech_data_7'].isnull() &
             telecom['date_of_last_rech_8'].isnull() &    
             telecom['date_of_last_rech_data_8'].isnull()].index,inplace=True)

In [11]:
telecom.shape

(99900, 226)

Filtering  and selecting only high-value customers

In [12]:
#Calculate total_rech_amt_6_7  as average of total_rech_amt_6  and total_rech_amt_7

telecom['total_rech_amt_6_7'] = (telecom['total_rech_amt_6'] + telecom['total_rech_amt_7'])/2

telecom[['total_rech_amt_7','total_rech_amt_6','total_rech_amt_6_7']]

telecom= telecom[telecom.total_rech_amt_6_7 >= telecom.total_rech_amt_6_7.quantile(.70)]

In [13]:
telecom.shape

(29979, 227)

In [14]:
# summing up the missing values (column-wise) and displaying fraction of NaNs
#pd.options.display.max_rows=100
list(zip(telecom.columns,round(100*(telecom .isnull().sum()/len(telecom.index)), 2)))

[('mobile_number', 0.0),
 ('circle_id', 0.0),
 ('loc_og_t2o_mou', 0.38),
 ('std_og_t2o_mou', 0.38),
 ('loc_ic_t2o_mou', 0.38),
 ('last_date_of_month_6', 0.0),
 ('last_date_of_month_7', 0.1),
 ('last_date_of_month_8', 0.52),
 ('last_date_of_month_9', 1.2),
 ('arpu_6', 0.0),
 ('arpu_7', 0.0),
 ('arpu_8', 0.0),
 ('arpu_9', 0.0),
 ('onnet_mou_6', 1.05),
 ('onnet_mou_7', 1.01),
 ('onnet_mou_8', 3.13),
 ('onnet_mou_9', 5.68),
 ('offnet_mou_6', 1.05),
 ('offnet_mou_7', 1.01),
 ('offnet_mou_8', 3.13),
 ('offnet_mou_9', 5.68),
 ('roam_ic_mou_6', 1.05),
 ('roam_ic_mou_7', 1.01),
 ('roam_ic_mou_8', 3.13),
 ('roam_ic_mou_9', 5.68),
 ('roam_og_mou_6', 1.05),
 ('roam_og_mou_7', 1.01),
 ('roam_og_mou_8', 3.13),
 ('roam_og_mou_9', 5.68),
 ('loc_og_t2t_mou_6', 1.05),
 ('loc_og_t2t_mou_7', 1.01),
 ('loc_og_t2t_mou_8', 3.13),
 ('loc_og_t2t_mou_9', 5.68),
 ('loc_og_t2m_mou_6', 1.05),
 ('loc_og_t2m_mou_7', 1.01),
 ('loc_og_t2m_mou_8', 3.13),
 ('loc_og_t2m_mou_9', 5.68),
 ('loc_og_t2f_mou_6', 1.05),
 ('loc_og_t2f_mou_7', 1.01),
 ('loc_og_t2f_mou_8', 3.13),
 ('loc_og_t2f_mou_9', 5.68),
 ('loc_og_t2c_mou_6', 1.05),
 ('loc_og_t2c_mou_7', 1.01),
 ('loc_og_t2c_mou_8', 3.13),
 ('loc_og_t2c_mou_9', 5.68),
 ('loc_og_mou_6', 1.05),
 ('loc_og_mou_7', 1.01),
 ('loc_og_mou_8', 3.13),
 ('loc_og_mou_9', 5.68),
 ('std_og_t2t_mou_6', 1.05),
 ('std_og_t2t_mou_7', 1.01),
 ('std_og_t2t_mou_8', 3.13),
 ('std_og_t2t_mou_9', 5.68),
 ('std_og_t2m_mou_6', 1.05),
 ('std_og_t2m_mou_7', 1.01),
 ('std_og_t2m_mou_8', 3.13),
 ('std_og_t2m_mou_9', 5.68),
 ('std_og_t2f_mou_6', 1.05),
 ('std_og_t2f_mou_7', 1.01),
 ('std_og_t2f_mou_8', 3.13),
 ('std_og_t2f_mou_9', 5.68),
 ('std_og_t2c_mou_6', 1.05),
 ('std_og_t2c_mou_7', 1.01),
 ('std_og_t2c_mou_8', 3.13),
 ('std_og_t2c_mou_9', 5.68),
 ('std_og_mou_6', 1.05),
 ('std_og_mou_7', 1.01),
 ('std_og_mou_8', 3.13),
 ('std_og_mou_9', 5.68),
 ('isd_og_mou_6', 1.05),
 ('isd_og_mou_7', 1.01),
 ('isd_og_mou_8', 3.13),
 ('isd_og_mou_9', 5.68),
 ('spl_og_mou_6', 1.05),
 ('spl_og_mou_7', 1.01),
 ('spl_og_mou_8', 3.13),
 ('spl_og_mou_9', 5.68),
 ('og_others_6', 1.05),
 ('og_others_7', 1.01),
 ('og_others_8', 3.13),
 ('og_others_9', 5.68),
 ('total_og_mou_6', 0.0),
 ('total_og_mou_7', 0.0),
 ('total_og_mou_8', 0.0),
 ('total_og_mou_9', 0.0),
 ('loc_ic_t2t_mou_6', 1.05),
 ('loc_ic_t2t_mou_7', 1.01),
 ('loc_ic_t2t_mou_8', 3.13),
 ('loc_ic_t2t_mou_9', 5.68),
 ('loc_ic_t2m_mou_6', 1.05),
 ('loc_ic_t2m_mou_7', 1.01),
 ('loc_ic_t2m_mou_8', 3.13),
 ('loc_ic_t2m_mou_9', 5.68),
 ('loc_ic_t2f_mou_6', 1.05),
 ('loc_ic_t2f_mou_7', 1.01),
 ('loc_ic_t2f_mou_8', 3.13),
 ('loc_ic_t2f_mou_9', 5.68),
 ('loc_ic_mou_6', 1.05),
 ('loc_ic_mou_7', 1.01),
 ('loc_ic_mou_8', 3.13),
 ('loc_ic_mou_9', 5.68),
 ('std_ic_t2t_mou_6', 1.05),
 ('std_ic_t2t_mou_7', 1.01),
 ('std_ic_t2t_mou_8', 3.13),
 ('std_ic_t2t_mou_9', 5.68),
 ('std_ic_t2m_mou_6', 1.05),
 ('std_ic_t2m_mou_7', 1.01),
 ('std_ic_t2m_mou_8', 3.13),
 ('std_ic_t2m_mou_9', 5.68),
 ('std_ic_t2f_mou_6', 1.05),
 ('std_ic_t2f_mou_7', 1.01),
 ('std_ic_t2f_mou_8', 3.13),
 ('std_ic_t2f_mou_9', 5.68),
 ('std_ic_t2o_mou_6', 1.05),
 ('std_ic_t2o_mou_7', 1.01),
 ('std_ic_t2o_mou_8', 3.13),
 ('std_ic_t2o_mou_9', 5.68),
 ('std_ic_mou_6', 1.05),
 ('std_ic_mou_7', 1.01),
 ('std_ic_mou_8', 3.13),
 ('std_ic_mou_9', 5.68),
 ('total_ic_mou_6', 0.0),
 ('total_ic_mou_7', 0.0),
 ('total_ic_mou_8', 0.0),
 ('total_ic_mou_9', 0.0),
 ('spl_ic_mou_6', 1.05),
 ('spl_ic_mou_7', 1.01),
 ('spl_ic_mou_8', 3.13),
 ('spl_ic_mou_9', 5.68),
 ('isd_ic_mou_6', 1.05),
 ('isd_ic_mou_7', 1.01),
 ('isd_ic_mou_8', 3.13),
 ('isd_ic_mou_9', 5.68),
 ('ic_others_6', 1.05),
 ('ic_others_7', 1.01),
 ('ic_others_8', 3.13),
 ('ic_others_9', 5.68),
 ('total_rech_num_6', 0.0),
 ('total_rech_num_7', 0.0),
 ('total_rech_num_8', 0.0),
 ('total_rech_num_9', 0.0),
 ('total_rech_amt_6', 0.0),
 ('total_rech_amt_7', 0.0),
 ('total_rech_amt_8', 0.0),
 ('total_rech_amt_9', 0.0),
 ('max_rech_amt_6', 0.0),
 ('max_rech_amt_7', 0.0),
 ('max_rech_amt_8', 0.0),
 ('max_rech_amt_9', 0.0),
 ('date_of_last_rech_6', 0.21),
 ('date_of_last_rech_7', 0.38),
 ('date_of_last_rech_8', 1.98),
 ('date_of_last_rech_9', 2.89),
 ('last_day_rch_amt_6', 0.0),
 ('last_day_rch_amt_7', 0.0),
 ('last_day_rch_amt_8', 0.0),
 ('last_day_rch_amt_9', 0.0),
 ('date_of_last_rech_data_6', 62.02),
 ('date_of_last_rech_data_7', 61.13),
 ('date_of_last_rech_data_8', 60.84),
 ('date_of_last_rech_data_9', 61.82),
 ('total_rech_data_6', 62.02),
 ('total_rech_data_7', 61.13),
 ('total_rech_data_8', 60.84),
 ('total_rech_data_9', 61.82),
 ('max_rech_data_6', 62.02),
 ('max_rech_data_7', 61.13),
 ('max_rech_data_8', 60.84),
 ('max_rech_data_9', 61.82),
 ('count_rech_2g_6', 62.02),
 ('count_rech_2g_7', 61.13),
 ('count_rech_2g_8', 60.84),
 ('count_rech_2g_9', 61.82),
 ('count_rech_3g_6', 62.02),
 ('count_rech_3g_7', 61.13),
 ('count_rech_3g_8', 60.84),
 ('count_rech_3g_9', 61.82),
 ('av_rech_amt_data_6', 62.02),
 ('av_rech_amt_data_7', 61.13),
 ('av_rech_amt_data_8', 60.84),
 ('av_rech_amt_data_9', 61.82),
 ('vol_2g_mb_6', 0.0),
 ('vol_2g_mb_7', 0.0),
 ('vol_2g_mb_8', 0.0),
 ('vol_2g_mb_9', 0.0),
 ('vol_3g_mb_6', 0.0),
 ('vol_3g_mb_7', 0.0),
 ('vol_3g_mb_8', 0.0),
 ('vol_3g_mb_9', 0.0),
 ('arpu_3g_6', 62.02),
 ('arpu_3g_7', 61.13),
 ('arpu_3g_8', 60.84),
 ('arpu_3g_9', 61.82),
 ('arpu_2g_6', 62.02),
 ('arpu_2g_7', 61.13),
 ('arpu_2g_8', 60.84),
 ('arpu_2g_9', 61.82),
 ('night_pck_user_6', 62.02),
 ('night_pck_user_7', 61.13),
 ('night_pck_user_8', 60.84),
 ('night_pck_user_9', 61.82),
 ('monthly_2g_6', 0.0),
 ('monthly_2g_7', 0.0),
 ('monthly_2g_8', 0.0),
 ('monthly_2g_9', 0.0),
 ('sachet_2g_6', 0.0),
 ('sachet_2g_7', 0.0),
 ('sachet_2g_8', 0.0),
 ('sachet_2g_9', 0.0),
 ('monthly_3g_6', 0.0),
 ('monthly_3g_7', 0.0),
 ('monthly_3g_8', 0.0),
 ('monthly_3g_9', 0.0),
 ('sachet_3g_6', 0.0),
 ('sachet_3g_7', 0.0),
 ('sachet_3g_8', 0.0),
 ('sachet_3g_9', 0.0),
 ('fb_user_6', 62.02),
 ('fb_user_7', 61.13),
 ('fb_user_8', 60.84),
 ('fb_user_9', 61.82),
 ('aon', 0.0),
 ('aug_vbc_3g', 0.0),
 ('jul_vbc_3g', 0.0),
 ('jun_vbc_3g', 0.0),
 ('sep_vbc_3g', 0.0),
 ('total_rech_amt_6_7', 0.0)]

In [15]:
telecom.shape

(29979, 227)

In [16]:
#Checking duplicate data
duplicate = telecom.duplicated()

telecom[duplicate]

#We see that there is no duplicate data.

Empty DataFrame
Columns: [mobile_number, circle_id, loc_og_t2o_mou, std_og_t2o_mou, loc_ic_t2o_mou, last_date_of_month_6, last_date_of_month_7, last_date_of_month_8, last_date_of_month_9, arpu_6, arpu_7, arpu_8, arpu_9, onnet_mou_6, onnet_mou_7, onnet_mou_8, onnet_mou_9, offnet_mou_6, offnet_mou_7, offnet_mou_8, offnet_mou_9, roam_ic_mou_6, roam_ic_mou_7, roam_ic_mou_8, roam_ic_mou_9, roam_og_mou_6, roam_og_mou_7, roam_og_mou_8, roam_og_mou_9, loc_og_t2t_mou_6, loc_og_t2t_mou_7, loc_og_t2t_mou_8, loc_og_t2t_mou_9, loc_og_t2m_mou_6, loc_og_t2m_mou_7, loc_og_t2m_mou_8, loc_og_t2m_mou_9, loc_og_t2f_mou_6, loc_og_t2f_mou_7, loc_og_t2f_mou_8, loc_og_t2f_mou_9, loc_og_t2c_mou_6, loc_og_t2c_mou_7, loc_og_t2c_mou_8, loc_og_t2c_mou_9, loc_og_mou_6, loc_og_mou_7, loc_og_mou_8, loc_og_mou_9, std_og_t2t_mou_6, std_og_t2t_mou_7, std_og_t2t_mou_8, std_og_t2t_mou_9, std_og_t2m_mou_6, std_og_t2m_mou_7, std_og_t2m_mou_8, std_og_t2m_mou_9, std_og_t2f_mou_6, std_og_t2f_mou_7, std_og_t2f_mou_8, std_og_t2f_mou_9, std_og_t2c_mou_6, std_og_t2c_mou_7, std_og_t2c_mou_8, std_og_t2c_mou_9, std_og_mou_6, std_og_mou_7, std_og_mou_8, std_og_mou_9, isd_og_mou_6, isd_og_mou_7, isd_og_mou_8, isd_og_mou_9, spl_og_mou_6, spl_og_mou_7, spl_og_mou_8, spl_og_mou_9, og_others_6, og_others_7, og_others_8, og_others_9, total_og_mou_6, total_og_mou_7, total_og_mou_8, total_og_mou_9, loc_ic_t2t_mou_6, loc_ic_t2t_mou_7, loc_ic_t2t_mou_8, loc_ic_t2t_mou_9, loc_ic_t2m_mou_6, loc_ic_t2m_mou_7, loc_ic_t2m_mou_8, loc_ic_t2m_mou_9, loc_ic_t2f_mou_6, loc_ic_t2f_mou_7, loc_ic_t2f_mou_8, loc_ic_t2f_mou_9, loc_ic_mou_6, loc_ic_mou_7, loc_ic_mou_8, ...]
Index: []

[0 rows x 227 columns]

In [17]:
# We can see from the above that certain fileds _t2o_ and _t2c_ have 0 or Null which will not help us in analysis
#We can safely drop those columns.
# loc_og_t2o_mou,std_og_t2o_mou,std_og_t2o_mou
# loc_ic_t2o_mou,std_og_t2c_mou_6,std_og_t2c_mou_7
# std_og_t2c_mou_8,std_og_t2c_mou_9,std_ic_t2o_mou_6
# std_ic_t2o_mou_7,std_ic_t2o_mou_8,std_ic_t2o_mou_9

telecom=telecom.drop(['loc_og_t2o_mou','std_og_t2o_mou','std_og_t2o_mou','loc_ic_t2o_mou','std_og_t2c_mou_6','std_og_t2c_mou_7','std_og_t2c_mou_8',
             'std_og_t2c_mou_9','std_ic_t2o_mou_6','std_ic_t2o_mou_7','std_ic_t2o_mou_8','std_ic_t2o_mou_9'],axis=1)

In [18]:
telecom.circle_id.nunique()

1

In [19]:
# looks all/most the  data corresponds to circle_id=109 so we can drop this column and also mobile_number 
telecom=telecom.drop(['circle_id','mobile_number'],axis=1)

In [20]:
telecom.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29979 entries, 7 to 99997
Data columns (total 214 columns):
last_date_of_month_6        29979 non-null object
last_date_of_month_7        29948 non-null object
last_date_of_month_8        29822 non-null object
last_date_of_month_9        29619 non-null object
arpu_6                      29979 non-null float64
arpu_7                      29979 non-null float64
arpu_8                      29979 non-null float64
arpu_9                      29979 non-null float64
onnet_mou_6                 29663 non-null float64
onnet_mou_7                 29676 non-null float64
onnet_mou_8                 29041 non-null float64
onnet_mou_9                 28276 non-null float64
offnet_mou_6                29663 non-null float64
offnet_mou_7                29676 non-null float64
offnet_mou_8                29041 non-null float64
offnet_mou_9                28276 non-null float64
roam_ic_mou_6               29663 non-null float64
roam_ic_mou_7               29676 non-null float64
roam_ic_mou_8               29041 non-null float64
roam_ic_mou_9               28276 non-null float64
roam_og_mou_6               29663 non-null float64
roam_og_mou_7               29676 non-null float64
roam_og_mou_8               29041 non-null float64
roam_og_mou_9               28276 non-null float64
loc_og_t2t_mou_6            29663 non-null float64
loc_og_t2t_mou_7            29676 non-null float64
loc_og_t2t_mou_8            29041 non-null float64
loc_og_t2t_mou_9            28276 non-null float64
loc_og_t2m_mou_6            29663 non-null float64
loc_og_t2m_mou_7            29676 non-null float64
loc_og_t2m_mou_8            29041 non-null float64
loc_og_t2m_mou_9            28276 non-null float64
loc_og_t2f_mou_6            29663 non-null float64
loc_og_t2f_mou_7            29676 non-null float64
loc_og_t2f_mou_8            29041 non-null float64
loc_og_t2f_mou_9            28276 non-null float64
loc_og_t2c_mou_6            29663 non-null float64
loc_og_t2c_mou_7            29676 non-null float64
loc_og_t2c_mou_8            29041 non-null float64
loc_og_t2c_mou_9            28276 non-null float64
loc_og_mou_6                29663 non-null float64
loc_og_mou_7                29676 non-null float64
loc_og_mou_8                29041 non-null float64
loc_og_mou_9                28276 non-null float64
std_og_t2t_mou_6            29663 non-null float64
std_og_t2t_mou_7            29676 non-null float64
std_og_t2t_mou_8            29041 non-null float64
std_og_t2t_mou_9            28276 non-null float64
std_og_t2m_mou_6            29663 non-null float64
std_og_t2m_mou_7            29676 non-null float64
std_og_t2m_mou_8            29041 non-null float64
std_og_t2m_mou_9            28276 non-null float64
std_og_t2f_mou_6            29663 non-null float64
std_og_t2f_mou_7            29676 non-null float64
std_og_t2f_mou_8            29041 non-null float64
std_og_t2f_mou_9            28276 non-null float64
std_og_mou_6                29663 non-null float64
std_og_mou_7                29676 non-null float64
std_og_mou_8                29041 non-null float64
std_og_mou_9                28276 non-null float64
isd_og_mou_6                29663 non-null float64
isd_og_mou_7                29676 non-null float64
isd_og_mou_8                29041 non-null float64
isd_og_mou_9                28276 non-null float64
spl_og_mou_6                29663 non-null float64
spl_og_mou_7                29676 non-null float64
spl_og_mou_8                29041 non-null float64
spl_og_mou_9                28276 non-null float64
og_others_6                 29663 non-null float64
og_others_7                 29676 non-null float64
og_others_8                 29041 non-null float64
og_others_9                 28276 non-null float64
total_og_mou_6              29979 non-null float64
total_og_mou_7              29979 non-null float64
total_og_mou_8              29979 non-null float64
total_og_mou_9              29979 non-null float64
loc_ic_t2t_mou_6            29663 non-null float64
loc_ic_t2t_mou_7            29676 non-null float64
loc_ic_t2t_mou_8            29041 non-null float64
loc_ic_t2t_mou_9            28276 non-null float64
loc_ic_t2m_mou_6            29663 non-null float64
loc_ic_t2m_mou_7            29676 non-null float64
loc_ic_t2m_mou_8            29041 non-null float64
loc_ic_t2m_mou_9            28276 non-null float64
loc_ic_t2f_mou_6            29663 non-null float64
loc_ic_t2f_mou_7            29676 non-null float64
loc_ic_t2f_mou_8            29041 non-null float64
loc_ic_t2f_mou_9            28276 non-null float64
loc_ic_mou_6                29663 non-null float64
loc_ic_mou_7                29676 non-null float64
loc_ic_mou_8                29041 non-null float64
loc_ic_mou_9                28276 non-null float64
std_ic_t2t_mou_6            29663 non-null float64
std_ic_t2t_mou_7            29676 non-null float64
std_ic_t2t_mou_8            29041 non-null float64
std_ic_t2t_mou_9            28276 non-null float64
std_ic_t2m_mou_6            29663 non-null float64
std_ic_t2m_mou_7            29676 non-null float64
std_ic_t2m_mou_8            29041 non-null float64
std_ic_t2m_mou_9            28276 non-null float64
std_ic_t2f_mou_6            29663 non-null float64
std_ic_t2f_mou_7            29676 non-null float64
std_ic_t2f_mou_8            29041 non-null float64
std_ic_t2f_mou_9            28276 non-null float64
std_ic_mou_6                29663 non-null float64
std_ic_mou_7                29676 non-null float64
std_ic_mou_8                29041 non-null float64
std_ic_mou_9                28276 non-null float64
total_ic_mou_6              29979 non-null float64
total_ic_mou_7              29979 non-null float64
total_ic_mou_8              29979 non-null float64
total_ic_mou_9              29979 non-null float64
spl_ic_mou_6                29663 non-null float64
spl_ic_mou_7                29676 non-null float64
spl_ic_mou_8                29041 non-null float64
spl_ic_mou_9                28276 non-null float64
isd_ic_mou_6                29663 non-null float64
isd_ic_mou_7                29676 non-null float64
isd_ic_mou_8                29041 non-null float64
isd_ic_mou_9                28276 non-null float64
ic_others_6                 29663 non-null float64
ic_others_7                 29676 non-null float64
ic_others_8                 29041 non-null float64
ic_others_9                 28276 non-null float64
total_rech_num_6            29979 non-null int64
total_rech_num_7            29979 non-null int64
total_rech_num_8            29979 non-null int64
total_rech_num_9            29979 non-null int64
total_rech_amt_6            29979 non-null int64
total_rech_amt_7            29979 non-null int64
total_rech_amt_8            29979 non-null int64
total_rech_amt_9            29979 non-null int64
max_rech_amt_6              29979 non-null int64
max_rech_amt_7              29979 non-null int64
max_rech_amt_8              29979 non-null int64
max_rech_amt_9              29979 non-null int64
date_of_last_rech_6         29917 non-null object
date_of_last_rech_7         29865 non-null object
date_of_last_rech_8         29385 non-null object
date_of_last_rech_9         29113 non-null object
last_day_rch_amt_6          29979 non-null int64
last_day_rch_amt_7          29979 non-null int64
last_day_rch_amt_8          29979 non-null int64
last_day_rch_amt_9          29979 non-null int64
date_of_last_rech_data_6    11387 non-null object
date_of_last_rech_data_7    11652 non-null object
date_of_last_rech_data_8    11741 non-null object
date_of_last_rech_data_9    11447 non-null object
total_rech_data_6           11387 non-null float64
total_rech_data_7           11652 non-null float64
total_rech_data_8           11741 non-null float64
total_rech_data_9           11447 non-null float64
max_rech_data_6             11387 non-null float64
max_rech_data_7             11652 non-null float64
max_rech_data_8             11741 non-null float64
max_rech_data_9             11447 non-null float64
count_rech_2g_6             11387 non-null float64
count_rech_2g_7             11652 non-null float64
count_rech_2g_8             11741 non-null float64
count_rech_2g_9             11447 non-null float64
count_rech_3g_6             11387 non-null float64
count_rech_3g_7             11652 non-null float64
count_rech_3g_8             11741 non-null float64
count_rech_3g_9             11447 non-null float64
av_rech_amt_data_6          11387 non-null float64
av_rech_amt_data_7          11652 non-null float64
av_rech_amt_data_8          11741 non-null float64
av_rech_amt_data_9          11447 non-null float64
vol_2g_mb_6                 29979 non-null float64
vol_2g_mb_7                 29979 non-null float64
vol_2g_mb_8                 29979 non-null float64
vol_2g_mb_9                 29979 non-null float64
vol_3g_mb_6                 29979 non-null float64
vol_3g_mb_7                 29979 non-null float64
vol_3g_mb_8                 29979 non-null float64
vol_3g_mb_9                 29979 non-null float64
arpu_3g_6                   11387 non-null float64
arpu_3g_7                   11652 non-null float64
arpu_3g_8                   11741 non-null float64
arpu_3g_9                   11447 non-null float64
arpu_2g_6                   11387 non-null float64
arpu_2g_7                   11652 non-null float64
arpu_2g_8                   11741 non-null float64
arpu_2g_9                   11447 non-null float64
night_pck_user_6            11387 non-null float64
night_pck_user_7            11652 non-null float64
night_pck_user_8            11741 non-null float64
night_pck_user_9            11447 non-null float64
monthly_2g_6                29979 non-null int64
monthly_2g_7                29979 non-null int64
monthly_2g_8                29979 non-null int64
monthly_2g_9                29979 non-null int64
sachet_2g_6                 29979 non-null int64
sachet_2g_7                 29979 non-null int64
sachet_2g_8                 29979 non-null int64
sachet_2g_9                 29979 non-null int64
monthly_3g_6                29979 non-null int64
monthly_3g_7                29979 non-null int64
monthly_3g_8                29979 non-null int64
monthly_3g_9                29979 non-null int64
sachet_3g_6                 29979 non-null int64
sachet_3g_7                 29979 non-null int64
sachet_3g_8                 29979 non-null int64
sachet_3g_9                 29979 non-null int64
fb_user_6                   11387 non-null float64
fb_user_7                   11652 non-null float64
fb_user_8                   11741 non-null float64
fb_user_9                   11447 non-null float64
aon                         29979 non-null int64
aug_vbc_3g                  29979 non-null float64
jul_vbc_3g                  29979 non-null float64
jun_vbc_3g                  29979 non-null float64
sep_vbc_3g                  29979 non-null float64
total_rech_amt_6_7          29979 non-null float64
dtypes: float64(169), int64(33), object(12)
memory usage: 49.2+ MB

In [21]:
#Checking for correlation between variables
telecom.corr(method='pearson')

,arpu_6,arpu_7,arpu_8,arpu_9,onnet_mou_6,onnet_mou_7,onnet_mou_8,onnet_mou_9,offnet_mou_6,offnet_mou_7,...,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g,total_rech_amt_6_7
arpu_6,1.000000,0.631508,0.570936,0.529240,0.289607,0.149832,0.129622,0.132107,0.458638,0.270392,...,0.041248,0.038060,0.039077,0.056951,-0.006318,0.122927,0.123792,0.173006,0.066693,0.868944
arpu_7,0.631508,1.000000,0.740790,0.660875,0.143573,0.266969,0.213802,0.183362,0.280516,0.438266,...,0.020597,0.054470,0.050471,0.061695,-0.017203,0.146887,0.170009,0.114565,0.080743,0.890882
arpu_8,0.570936,0.740790,1.000000,0.787224,0.090684,0.183059,0.304138,0.237820,0.212153,0.321938,...,0.023428,0.038489,0.083851,0.064310,0.032474,0.194862,0.137500,0.119761,0.124004,0.737229
arpu_9,0.529240,0.660875,0.787224,1.000000,0.071370,0.126537,0.213232,0.305016,0.191304,0.249327,...,0.038682,0.049380,0.073794,0.107714,0.056325,0.167864,0.132539,0.119860,0.169294,0.661687
onnet_mou_6,0.289607,0.143573,0.090684,0.071370,1.000000,0.733166,0.612793,0.562820,0.002145,-0.053467,...,-0.193471,-0.197590,-0.183359,-0.164507,-0.091688,-0.085373,-0.091150,-0.083474,-0.030559,0.229552
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
aug_vbc_3g,0.122927,0.146887,0.194862,0.167864,-0.085373,-0.082748,-0.066386,-0.066990,-0.063320,-0.065325,...,0.167410,0.182819,0.231239,0.223628,0.028080,1.000000,0.711059,0.595325,0.208145,0.139855
jul_vbc_3g,0.123792,0.170009,0.137500,0.132539,-0.091150,-0.087907,-0.073689,-0.074354,-0.070935,-0.073854,...,0.174765,0.188030,0.217219,0.213683,0.028160,0.711059,1.000000,0.684744,0.166988,0.152224
jun_vbc_3g,0.173006,0.114565,0.119761,0.119860,-0.083474,-0.088673,-0.068030,-0.066984,-0.058692,-0.072610,...,0.172783,0.168777,0.199040,0.198104,0.019135,0.595325,0.684744,1.000000,0.153575,0.144287
sep_vbc_3g,0.066693,0.080743,0.124004,0.169294,-0.030559,-0.029651,-0.025711,-0.018646,-0.012433,-0.013830,...,0.055241,0.065900,0.078797,0.088900,0.013575,0.208145,0.166988,0.153575,1.000000,0.074250
total_rech_amt_6_7,0.868944,0.890882,0.737229,0.661687,0.229552,0.228797,0.191893,0.173233,0.397650,0.391716,...,0.025051,0.042489,0.038297,0.054032,-0.008394,0.139855,0.152224,0.144287,0.074250,1.000000

#### The business objective is to predict the churn in the last (i.e. the ninth) month using the data (features) from the first three months. To do this task well, understanding the typical customer behaviour during churn will be helpful.

We can treat customer whose total_og_mou_9 is Zero  total_ic_mou_9 is Zero and monthly_3g_9   is Zero monthly_2g_9 is Zero as Churn i,e., the average revenue during the 9th month is Zero

In [22]:
telecom['churn']=((telecom['total_og_mou_9'] == 0) &
                          (telecom['total_ic_mou_9'] == 0) &
                          (telecom['monthly_3g_9'] == 0) & 
                          (telecom['monthly_2g_9'] == 0)).apply(lambda x : 1 if x==True else 0)

In [23]:
telecom

,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,arpu_7,arpu_8,arpu_9,onnet_mou_6,onnet_mou_7,...,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g,total_rech_amt_6_7,churn
7,6/30/2014,7/31/2014,8/31/2014,9/30/2014,1069.180,1349.850,3171.480,500.000,57.84,54.68,...,NaN,NaN,NaN,802,57.74,19.38,18.74,0.0,1185.0,1
8,6/30/2014,7/31/2014,8/31/2014,9/30/2014,378.721,492.223,137.362,166.787,413.69,351.03,...,1.0,1.0,NaN,315,21.03,910.65,122.16,0.0,519.0,0
13,6/30/2014,7/31/2014,8/31/2014,9/30/2014,492.846,205.671,593.260,322.732,501.76,108.39,...,NaN,1.0,NaN,2607,0.00,0.00,0.00,0.0,380.0,0
16,6/30/2014,7/31/2014,8/31/2014,9/30/2014,430.975,299.869,187.894,206.490,50.51,74.01,...,NaN,NaN,NaN,511,0.00,2.45,21.89,0.0,459.0,0
17,6/30/2014,7/31/2014,8/31/2014,9/30/2014,690.008,18.980,25.499,257.583,1185.91,9.28,...,NaN,NaN,NaN,667,0.00,0.00,0.00,0.0,408.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,6/30/2014,7/31/2014,8/31/2014,9/30/2014,261.269,410.614,290.851,330.963,5.01,142.59,...,0.0,NaN,0.0,1022,0.00,0.00,0.00,0.0,392.0,0
99974,6/30/2014,7/31/2014,8/31/2014,9/30/2014,414.303,321.093,371.016,306.689,17.56,0.00,...,NaN,NaN,NaN,3054,0.00,0.00,0.00,0.0,465.0,0
99986,6/30/2014,7/31/2014,8/31/2014,9/30/2014,644.973,455.228,564.334,267.451,806.73,549.36,...,1.0,1.0,1.0,2696,497.45,598.67,604.08,0.0,848.5,0
99988,6/30/2014,7/31/2014,8/31/2014,9/30/2014,312.558,512.932,402.080,533.502,199.89,174.46,...,1.0,1.0,1.0,328,104.73,0.00,0.00,0.0,467.0,0
99997,6/30/2014,7/31/2014,8/31/2014,9/30/2014,322.991,303.386,606.817,731.010,0.00,0.00,...,1.0,1.0,1.0,478,1445.74,1151.03,1173.18,0.0,369.5,0

In [24]:
#telecom=telecom.drop('churn',axis=1)
telecom.shape

(29979, 215)

In [25]:
telecom['churn'].value_counts()

0    27326
1     2653
Name: churn, dtype: int64

In [26]:
telecom[telecom['churn']==1][['churn','monthly_3g_6','monthly_3g_7','monthly_3g_8']].tail(20)

       churn  monthly_3g_6  monthly_3g_7  monthly_3g_8
99346      1             0             0             0
99395      1             0             0             0
99431      1             0             0             0
99436      1             0             0             0
99498      1             0             0             0
99518      1             0             0             0
99565      1             0             0             0
99611      1             0             0             1
99613      1             0             0             0
99700      1             0             0             0
99717      1             1             0             0
99726      1             0             0             0
99763      1             0             0             0
99790      1             0             0             0
99821      1             0             0             0
99827      1             0             0             0
99868      1             0             0             0
99885      1             0             0             0
99887      1             0             0             0
99961      1             0             0             0

In [27]:
telecom[telecom['churn']==1][['churn','monthly_2g_6']].groupby('monthly_2g_6').count()

              churn
monthly_2g_6
0              2506
1               133
2                12
4                 2

In [28]:
telecom[telecom['churn']==1][['churn','monthly_3g_7']].groupby('monthly_3g_7').count()

              churn
monthly_3g_7
0              2454
1               138
2                50
3                 9
5                 2

In [29]:
telecom[telecom['churn']==1][['churn','night_pck_user_8']].groupby('night_pck_user_8').count()

                  churn
night_pck_user_8
0.0                 380
1.0                  18

In [30]:
telecom[telecom['churn']==1][['churn','fb_user_7']].groupby('fb_user_7').count()

           churn
fb_user_7
0.0           82
1.0          599

In [31]:
telecom[telecom['churn']==1][['churn','sachet_2g_6']].groupby('sachet_2g_6').count()

             churn
sachet_2g_6
0             2239
1              186
2               74
3               46
4               32
5               24
6               10
7                7
8                9
9               10
10               3
11               4
12               3
13               1
14               1
15               1
18               2
34               1

In [32]:
telecom[telecom['churn']==0][['churn','sachet_3g_8']].groupby('sachet_3g_8').count()

             churn
sachet_3g_8
0            25660
1             1018
2              247
3              123
4               70
5               63
6               25
7               23
8               20
9               12
10               9
11               6
12              11
13               9
14               6
15               5
16               2
17               2
18               2
19               1
20               2
21               2
23               2
25               1
27               1
29               1
30               1
38               1
41               1

In [33]:
# Categerize the sachet_* into only 2 categeries '0' the one who  didn't used sachet and '1' who used sachet
telecom.loc[telecom['sachet_3g_6'] >=1,['sachet_3g_6']] = 1
telecom.loc[telecom['sachet_3g_7'] >=1,['sachet_3g_7']] = 1
telecom.loc[telecom['sachet_3g_8'] >=1,['sachet_3g_8']] = 1
telecom.loc[telecom['sachet_2g_6'] >=1,['sachet_2g_6']] = 1
telecom.loc[telecom['sachet_2g_7'] >=1,['sachet_2g_7']] = 1
telecom.loc[telecom['sachet_2g_8'] >=1,['sachet_2g_8']] = 1

In [34]:
telecom[telecom['churn']==0][['churn','sachet_2g_6']].groupby('sachet_2g_6').count()

             churn
sachet_2g_6
0            22515
1             4811

In [35]:
telecom

,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,arpu_7,arpu_8,arpu_9,onnet_mou_6,onnet_mou_7,...,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g,total_rech_amt_6_7,churn
7,6/30/2014,7/31/2014,8/31/2014,9/30/2014,1069.180,1349.850,3171.480,500.000,57.84,54.68,...,NaN,NaN,NaN,802,57.74,19.38,18.74,0.0,1185.0,1
8,6/30/2014,7/31/2014,8/31/2014,9/30/2014,378.721,492.223,137.362,166.787,413.69,351.03,...,1.0,1.0,NaN,315,21.03,910.65,122.16,0.0,519.0,0
13,6/30/2014,7/31/2014,8/31/2014,9/30/2014,492.846,205.671,593.260,322.732,501.76,108.39,...,NaN,1.0,NaN,2607,0.00,0.00,0.00,0.0,380.0,0
16,6/30/2014,7/31/2014,8/31/2014,9/30/2014,430.975,299.869,187.894,206.490,50.51,74.01,...,NaN,NaN,NaN,511,0.00,2.45,21.89,0.0,459.0,0
17,6/30/2014,7/31/2014,8/31/2014,9/30/2014,690.008,18.980,25.499,257.583,1185.91,9.28,...,NaN,NaN,NaN,667,0.00,0.00,0.00,0.0,408.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,6/30/2014,7/31/2014,8/31/2014,9/30/2014,261.269,410.614,290.851,330.963,5.01,142.59,...,0.0,NaN,0.0,1022,0.00,0.00,0.00,0.0,392.0,0
99974,6/30/2014,7/31/2014,8/31/2014,9/30/2014,414.303,321.093,371.016,306.689,17.56,0.00,...,NaN,NaN,NaN,3054,0.00,0.00,0.00,0.0,465.0,0
99986,6/30/2014,7/31/2014,8/31/2014,9/30/2014,644.973,455.228,564.334,267.451,806.73,549.36,...,1.0,1.0,1.0,2696,497.45,598.67,604.08,0.0,848.5,0
99988,6/30/2014,7/31/2014,8/31/2014,9/30/2014,312.558,512.932,402.080,533.502,199.89,174.46,...,1.0,1.0,1.0,328,104.73,0.00,0.00,0.0,467.0,0
99997,6/30/2014,7/31/2014,8/31/2014,9/30/2014,322.991,303.386,606.817,731.010,0.00,0.00,...,1.0,1.0,1.0,478,1445.74,1151.03,1173.18,0.0,369.5,0

Select Columns that corresponds to 9th month and drop those columns as they will not be helpful in prediction

In [36]:
col_list_9th_month = []

for i in telecom.columns:
    if i[-2:] == '_9' :
      col_list_9th_month.append(i)
print(col_list_9th_month)

['last_date_of_month_9', 'arpu_9', 'onnet_mou_9', 'offnet_mou_9', 'roam_ic_mou_9', 'roam_og_mou_9', 'loc_og_t2t_mou_9', 'loc_og_t2m_mou_9', 'loc_og_t2f_mou_9', 'loc_og_t2c_mou_9', 'loc_og_mou_9', 'std_og_t2t_mou_9', 'std_og_t2m_mou_9', 'std_og_t2f_mou_9', 'std_og_mou_9', 'isd_og_mou_9', 'spl_og_mou_9', 'og_others_9', 'total_og_mou_9', 'loc_ic_t2t_mou_9', 'loc_ic_t2m_mou_9', 'loc_ic_t2f_mou_9', 'loc_ic_mou_9', 'std_ic_t2t_mou_9', 'std_ic_t2m_mou_9', 'std_ic_t2f_mou_9', 'std_ic_mou_9', 'total_ic_mou_9', 'spl_ic_mou_9', 'isd_ic_mou_9', 'ic_others_9', 'total_rech_num_9', 'total_rech_amt_9', 'max_rech_amt_9', 'date_of_last_rech_9', 'last_day_rch_amt_9', 'date_of_last_rech_data_9', 'total_rech_data_9', 'max_rech_data_9', 'count_rech_2g_9', 'count_rech_3g_9', 'av_rech_amt_data_9', 'vol_2g_mb_9', 'vol_3g_mb_9', 'arpu_3g_9', 'arpu_2g_9', 'night_pck_user_9', 'monthly_2g_9', 'sachet_2g_9', 'monthly_3g_9', 'sachet_3g_9', 'fb_user_9']

In [37]:
telecom=telecom.drop(col_list_9th_month,axis=1)

In [38]:
telecom.columns.tolist()

['last_date_of_month_6',
 'last_date_of_month_7',
 'last_date_of_month_8',
 'arpu_6',
 'arpu_7',
 'arpu_8',
 'onnet_mou_6',
 'onnet_mou_7',
 'onnet_mou_8',
 'offnet_mou_6',
 'offnet_mou_7',
 'offnet_mou_8',
 'roam_ic_mou_6',
 'roam_ic_mou_7',
 'roam_ic_mou_8',
 'roam_og_mou_6',
 'roam_og_mou_7',
 'roam_og_mou_8',
 'loc_og_t2t_mou_6',
 'loc_og_t2t_mou_7',
 'loc_og_t2t_mou_8',
 'loc_og_t2m_mou_6',
 'loc_og_t2m_mou_7',
 'loc_og_t2m_mou_8',
 'loc_og_t2f_mou_6',
 'loc_og_t2f_mou_7',
 'loc_og_t2f_mou_8',
 'loc_og_t2c_mou_6',
 'loc_og_t2c_mou_7',
 'loc_og_t2c_mou_8',
 'loc_og_mou_6',
 'loc_og_mou_7',
 'loc_og_mou_8',
 'std_og_t2t_mou_6',
 'std_og_t2t_mou_7',
 'std_og_t2t_mou_8',
 'std_og_t2m_mou_6',
 'std_og_t2m_mou_7',
 'std_og_t2m_mou_8',
 'std_og_t2f_mou_6',
 'std_og_t2f_mou_7',
 'std_og_t2f_mou_8',
 'std_og_mou_6',
 'std_og_mou_7',
 'std_og_mou_8',
 'isd_og_mou_6',
 'isd_og_mou_7',
 'isd_og_mou_8',
 'spl_og_mou_6',
 'spl_og_mou_7',
 'spl_og_mou_8',
 'og_others_6',
 'og_others_7',
 'og_others_8',
 'total_og_mou_6',
 'total_og_mou_7',
 'total_og_mou_8',
 'loc_ic_t2t_mou_6',
 'loc_ic_t2t_mou_7',
 'loc_ic_t2t_mou_8',
 'loc_ic_t2m_mou_6',
 'loc_ic_t2m_mou_7',
 'loc_ic_t2m_mou_8',
 'loc_ic_t2f_mou_6',
 'loc_ic_t2f_mou_7',
 'loc_ic_t2f_mou_8',
 'loc_ic_mou_6',
 'loc_ic_mou_7',
 'loc_ic_mou_8',
 'std_ic_t2t_mou_6',
 'std_ic_t2t_mou_7',
 'std_ic_t2t_mou_8',
 'std_ic_t2m_mou_6',
 'std_ic_t2m_mou_7',
 'std_ic_t2m_mou_8',
 'std_ic_t2f_mou_6',
 'std_ic_t2f_mou_7',
 'std_ic_t2f_mou_8',
 'std_ic_mou_6',
 'std_ic_mou_7',
 'std_ic_mou_8',
 'total_ic_mou_6',
 'total_ic_mou_7',
 'total_ic_mou_8',
 'spl_ic_mou_6',
 'spl_ic_mou_7',
 'spl_ic_mou_8',
 'isd_ic_mou_6',
 'isd_ic_mou_7',
 'isd_ic_mou_8',
 'ic_others_6',
 'ic_others_7',
 'ic_others_8',
 'total_rech_num_6',
 'total_rech_num_7',
 'total_rech_num_8',
 'total_rech_amt_6',
 'total_rech_amt_7',
 'total_rech_amt_8',
 'max_rech_amt_6',
 'max_rech_amt_7',
 'max_rech_amt_8',
 'date_of_last_rech_6',
 'date_of_last_rech_7',
 'date_of_last_rech_8',
 'last_day_rch_amt_6',
 'last_day_rch_amt_7',
 'last_day_rch_amt_8',
 'date_of_last_rech_data_6',
 'date_of_last_rech_data_7',
 'date_of_last_rech_data_8',
 'total_rech_data_6',
 'total_rech_data_7',
 'total_rech_data_8',
 'max_rech_data_6',
 'max_rech_data_7',
 'max_rech_data_8',
 'count_rech_2g_6',
 'count_rech_2g_7',
 'count_rech_2g_8',
 'count_rech_3g_6',
 'count_rech_3g_7',
 'count_rech_3g_8',
 'av_rech_amt_data_6',
 'av_rech_amt_data_7',
 'av_rech_amt_data_8',
 'vol_2g_mb_6',
 'vol_2g_mb_7',
 'vol_2g_mb_8',
 'vol_3g_mb_6',
 'vol_3g_mb_7',
 'vol_3g_mb_8',
 'arpu_3g_6',
 'arpu_3g_7',
 'arpu_3g_8',
 'arpu_2g_6',
 'arpu_2g_7',
 'arpu_2g_8',
 'night_pck_user_6',
 'night_pck_user_7',
 'night_pck_user_8',
 'monthly_2g_6',
 'monthly_2g_7',
 'monthly_2g_8',
 'sachet_2g_6',
 'sachet_2g_7',
 'sachet_2g_8',
 'monthly_3g_6',
 'monthly_3g_7',
 'monthly_3g_8',
 'sachet_3g_6',
 'sachet_3g_7',
 'sachet_3g_8',
 'fb_user_6',
 'fb_user_7',
 'fb_user_8',
 'aon',
 'aug_vbc_3g',
 'jul_vbc_3g',
 'jun_vbc_3g',
 'sep_vbc_3g',
 'total_rech_amt_6_7',
 'churn']

In [39]:
telecom

,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,arpu_6,arpu_7,arpu_8,onnet_mou_6,onnet_mou_7,onnet_mou_8,offnet_mou_6,...,fb_user_6,fb_user_7,fb_user_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g,total_rech_amt_6_7,churn
7,6/30/2014,7/31/2014,8/31/2014,1069.180,1349.850,3171.480,57.84,54.68,52.29,453.43,...,NaN,NaN,NaN,802,57.74,19.38,18.74,0.0,1185.0,1
8,6/30/2014,7/31/2014,8/31/2014,378.721,492.223,137.362,413.69,351.03,35.08,94.66,...,NaN,1.0,1.0,315,21.03,910.65,122.16,0.0,519.0,0
13,6/30/2014,7/31/2014,8/31/2014,492.846,205.671,593.260,501.76,108.39,534.24,413.31,...,NaN,NaN,1.0,2607,0.00,0.00,0.00,0.0,380.0,0
16,6/30/2014,7/31/2014,8/31/2014,430.975,299.869,187.894,50.51,74.01,70.61,296.29,...,NaN,NaN,NaN,511,0.00,2.45,21.89,0.0,459.0,0
17,6/30/2014,7/31/2014,8/31/2014,690.008,18.980,25.499,1185.91,9.28,7.79,61.64,...,NaN,NaN,NaN,667,0.00,0.00,0.00,0.0,408.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,6/30/2014,7/31/2014,8/31/2014,261.269,410.614,290.851,5.01,142.59,97.61,329.58,...,0.0,0.0,NaN,1022,0.00,0.00,0.00,0.0,392.0,0
99974,6/30/2014,7/31/2014,8/31/2014,414.303,321.093,371.016,17.56,0.00,1.30,428.41,...,NaN,NaN,NaN,3054,0.00,0.00,0.00,0.0,465.0,0
99986,6/30/2014,7/31/2014,8/31/2014,644.973,455.228,564.334,806.73,549.36,775.41,784.76,...,1.0,1.0,1.0,2696,497.45,598.67,604.08,0.0,848.5,0
99988,6/30/2014,7/31/2014,8/31/2014,312.558,512.932,402.080,199.89,174.46,2.46,175.88,...,NaN,1.0,1.0,328,104.73,0.00,0.00,0.0,467.0,0
99997,6/30/2014,7/31/2014,8/31/2014,322.991,303.386,606.817,0.00,0.00,0.00,0.00,...,1.0,1.0,1.0,478,1445.74,1151.03,1173.18,0.0,369.5,0

In [40]:
# Remove all the date columns as they will not be helpful in predicting.

date_cols = []
for i in telecom.columns:
    if i[:9] == 'last_date' :
      date_cols.append(i)
    elif i[:12] == 'date_of_last' :
      date_cols.append(i)
    
print(date_cols)

telecom=telecom.drop(date_cols,axis=1)

['last_date_of_month_6', 'last_date_of_month_7', 'last_date_of_month_8', 'date_of_last_rech_6', 'date_of_last_rech_7', 'date_of_last_rech_8', 'date_of_last_rech_data_6', 'date_of_last_rech_data_7', 'date_of_last_rech_data_8']

In [41]:
telecom

,arpu_6,arpu_7,arpu_8,onnet_mou_6,onnet_mou_7,onnet_mou_8,offnet_mou_6,offnet_mou_7,offnet_mou_8,roam_ic_mou_6,...,fb_user_6,fb_user_7,fb_user_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g,total_rech_amt_6_7,churn
7,1069.180,1349.850,3171.480,57.84,54.68,52.29,453.43,567.16,325.91,16.23,...,NaN,NaN,NaN,802,57.74,19.38,18.74,0.0,1185.0,1
8,378.721,492.223,137.362,413.69,351.03,35.08,94.66,80.63,136.48,0.00,...,NaN,1.0,1.0,315,21.03,910.65,122.16,0.0,519.0,0
13,492.846,205.671,593.260,501.76,108.39,534.24,413.31,119.28,482.46,23.53,...,NaN,NaN,1.0,2607,0.00,0.00,0.00,0.0,380.0,0
16,430.975,299.869,187.894,50.51,74.01,70.61,296.29,229.74,162.76,0.00,...,NaN,NaN,NaN,511,0.00,2.45,21.89,0.0,459.0,0
17,690.008,18.980,25.499,1185.91,9.28,7.79,61.64,0.00,5.54,0.00,...,NaN,NaN,NaN,667,0.00,0.00,0.00,0.0,408.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,261.269,410.614,290.851,5.01,142.59,97.61,329.58,500.14,355.48,5.06,...,0.0,0.0,NaN,1022,0.00,0.00,0.00,0.0,392.0,0
99974,414.303,321.093,371.016,17.56,0.00,1.30,428.41,366.78,360.58,0.00,...,NaN,NaN,NaN,3054,0.00,0.00,0.00,0.0,465.0,0
99986,644.973,455.228,564.334,806.73,549.36,775.41,784.76,617.13,595.44,0.00,...,1.0,1.0,1.0,2696,497.45,598.67,604.08,0.0,848.5,0
99988,312.558,512.932,402.080,199.89,174.46,2.46,175.88,277.01,248.33,0.00,...,NaN,1.0,1.0,328,104.73,0.00,0.00,0.0,467.0,0
99997,322.991,303.386,606.817,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,1.0,1.0,1.0,478,1445.74,1151.03,1173.18,0.0,369.5,0

In [42]:
list(zip(telecom.columns,round(100*(telecom .isnull().sum()/len(telecom.index)), 2)))

[('arpu_6', 0.0),
 ('arpu_7', 0.0),
 ('arpu_8', 0.0),
 ('onnet_mou_6', 1.05),
 ('onnet_mou_7', 1.01),
 ('onnet_mou_8', 3.13),
 ('offnet_mou_6', 1.05),
 ('offnet_mou_7', 1.01),
 ('offnet_mou_8', 3.13),
 ('roam_ic_mou_6', 1.05),
 ('roam_ic_mou_7', 1.01),
 ('roam_ic_mou_8', 3.13),
 ('roam_og_mou_6', 1.05),
 ('roam_og_mou_7', 1.01),
 ('roam_og_mou_8', 3.13),
 ('loc_og_t2t_mou_6', 1.05),
 ('loc_og_t2t_mou_7', 1.01),
 ('loc_og_t2t_mou_8', 3.13),
 ('loc_og_t2m_mou_6', 1.05),
 ('loc_og_t2m_mou_7', 1.01),
 ('loc_og_t2m_mou_8', 3.13),
 ('loc_og_t2f_mou_6', 1.05),
 ('loc_og_t2f_mou_7', 1.01),
 ('loc_og_t2f_mou_8', 3.13),
 ('loc_og_t2c_mou_6', 1.05),
 ('loc_og_t2c_mou_7', 1.01),
 ('loc_og_t2c_mou_8', 3.13),
 ('loc_og_mou_6', 1.05),
 ('loc_og_mou_7', 1.01),
 ('loc_og_mou_8', 3.13),
 ('std_og_t2t_mou_6', 1.05),
 ('std_og_t2t_mou_7', 1.01),
 ('std_og_t2t_mou_8', 3.13),
 ('std_og_t2m_mou_6', 1.05),
 ('std_og_t2m_mou_7', 1.01),
 ('std_og_t2m_mou_8', 3.13),
 ('std_og_t2f_mou_6', 1.05),
 ('std_og_t2f_mou_7', 1.01),
 ('std_og_t2f_mou_8', 3.13),
 ('std_og_mou_6', 1.05),
 ('std_og_mou_7', 1.01),
 ('std_og_mou_8', 3.13),
 ('isd_og_mou_6', 1.05),
 ('isd_og_mou_7', 1.01),
 ('isd_og_mou_8', 3.13),
 ('spl_og_mou_6', 1.05),
 ('spl_og_mou_7', 1.01),
 ('spl_og_mou_8', 3.13),
 ('og_others_6', 1.05),
 ('og_others_7', 1.01),
 ('og_others_8', 3.13),
 ('total_og_mou_6', 0.0),
 ('total_og_mou_7', 0.0),
 ('total_og_mou_8', 0.0),
 ('loc_ic_t2t_mou_6', 1.05),
 ('loc_ic_t2t_mou_7', 1.01),
 ('loc_ic_t2t_mou_8', 3.13),
 ('loc_ic_t2m_mou_6', 1.05),
 ('loc_ic_t2m_mou_7', 1.01),
 ('loc_ic_t2m_mou_8', 3.13),
 ('loc_ic_t2f_mou_6', 1.05),
 ('loc_ic_t2f_mou_7', 1.01),
 ('loc_ic_t2f_mou_8', 3.13),
 ('loc_ic_mou_6', 1.05),
 ('loc_ic_mou_7', 1.01),
 ('loc_ic_mou_8', 3.13),
 ('std_ic_t2t_mou_6', 1.05),
 ('std_ic_t2t_mou_7', 1.01),
 ('std_ic_t2t_mou_8', 3.13),
 ('std_ic_t2m_mou_6', 1.05),
 ('std_ic_t2m_mou_7', 1.01),
 ('std_ic_t2m_mou_8', 3.13),
 ('std_ic_t2f_mou_6', 1.05),
 ('std_ic_t2f_mou_7', 1.01),
 ('std_ic_t2f_mou_8', 3.13),
 ('std_ic_mou_6', 1.05),
 ('std_ic_mou_7', 1.01),
 ('std_ic_mou_8', 3.13),
 ('total_ic_mou_6', 0.0),
 ('total_ic_mou_7', 0.0),
 ('total_ic_mou_8', 0.0),
 ('spl_ic_mou_6', 1.05),
 ('spl_ic_mou_7', 1.01),
 ('spl_ic_mou_8', 3.13),
 ('isd_ic_mou_6', 1.05),
 ('isd_ic_mou_7', 1.01),
 ('isd_ic_mou_8', 3.13),
 ('ic_others_6', 1.05),
 ('ic_others_7', 1.01),
 ('ic_others_8', 3.13),
 ('total_rech_num_6', 0.0),
 ('total_rech_num_7', 0.0),
 ('total_rech_num_8', 0.0),
 ('total_rech_amt_6', 0.0),
 ('total_rech_amt_7', 0.0),
 ('total_rech_amt_8', 0.0),
 ('max_rech_amt_6', 0.0),
 ('max_rech_amt_7', 0.0),
 ('max_rech_amt_8', 0.0),
 ('last_day_rch_amt_6', 0.0),
 ('last_day_rch_amt_7', 0.0),
 ('last_day_rch_amt_8', 0.0),
 ('total_rech_data_6', 62.02),
 ('total_rech_data_7', 61.13),
 ('total_rech_data_8', 60.84),
 ('max_rech_data_6', 62.02),
 ('max_rech_data_7', 61.13),
 ('max_rech_data_8', 60.84),
 ('count_rech_2g_6', 62.02),
 ('count_rech_2g_7', 61.13),
 ('count_rech_2g_8', 60.84),
 ('count_rech_3g_6', 62.02),
 ('count_rech_3g_7', 61.13),
 ('count_rech_3g_8', 60.84),
 ('av_rech_amt_data_6', 62.02),
 ('av_rech_amt_data_7', 61.13),
 ('av_rech_amt_data_8', 60.84),
 ('vol_2g_mb_6', 0.0),
 ('vol_2g_mb_7', 0.0),
 ('vol_2g_mb_8', 0.0),
 ('vol_3g_mb_6', 0.0),
 ('vol_3g_mb_7', 0.0),
 ('vol_3g_mb_8', 0.0),
 ('arpu_3g_6', 62.02),
 ('arpu_3g_7', 61.13),
 ('arpu_3g_8', 60.84),
 ('arpu_2g_6', 62.02),
 ('arpu_2g_7', 61.13),
 ('arpu_2g_8', 60.84),
 ('night_pck_user_6', 62.02),
 ('night_pck_user_7', 61.13),
 ('night_pck_user_8', 60.84),
 ('monthly_2g_6', 0.0),
 ('monthly_2g_7', 0.0),
 ('monthly_2g_8', 0.0),
 ('sachet_2g_6', 0.0),
 ('sachet_2g_7', 0.0),
 ('sachet_2g_8', 0.0),
 ('monthly_3g_6', 0.0),
 ('monthly_3g_7', 0.0),
 ('monthly_3g_8', 0.0),
 ('sachet_3g_6', 0.0),
 ('sachet_3g_7', 0.0),
 ('sachet_3g_8', 0.0),
 ('fb_user_6', 62.02),
 ('fb_user_7', 61.13),
 ('fb_user_8', 60.84),
 ('aon', 0.0),
 ('aug_vbc_3g', 0.0),
 ('jul_vbc_3g', 0.0),
 ('jun_vbc_3g', 0.0),
 ('sep_vbc_3g', 0.0),
 ('total_rech_amt_6_7', 0.0),
 ('churn', 0.0)]

In [43]:
telecom.count_rech_2g_7.isnull().sum()

18327

In [44]:
telecom['night_pck_user_8'].value_counts()

0.0    11462
1.0      279
Name: night_pck_user_8, dtype: int64

In [45]:
telecom.monthly_2g_7.value_counts()

0    26526
1     3011
2      406
3       29
4        5
5        2
Name: monthly_2g_7, dtype: int64

In [46]:
telecom.monthly_3g_7.value_counts()

0     26330
1      2465
2       822
3       207
4        68
5        39
6        23
7        10
8         5
9         4
11        2
14        1
12        1
10        1
16        1
Name: monthly_3g_7, dtype: int64

In [47]:
# Categerize the monthly_*g_* into only 2 categeries i.e., '0' the one who  didn't used monthly2g/3g and '1' who used monthly 2g/3g
telecom.loc[telecom['monthly_3g_6'] >=1,['monthly_3g_6']] = 1
telecom.loc[telecom['monthly_3g_7'] >=1,['monthly_3g_7']] = 1
telecom.loc[telecom['monthly_3g_8'] >=1,['monthly_3g_8']] = 1

telecom.loc[telecom['monthly_2g_6'] >=1,['monthly_2g_6']] = 1
telecom.loc[telecom['monthly_2g_7'] >=1,['monthly_2g_7']] = 1
telecom.loc[telecom['monthly_2g_8'] >=1,['monthly_2g_8']] = 1

In [48]:
# Impute the Null values with Zero
telecom['count_rech_2g_6'].fillna(0, inplace = True)
telecom['count_rech_2g_7'].fillna(0, inplace = True)
telecom['count_rech_2g_8'].fillna(0, inplace = True)
telecom['count_rech_3g_6'].fillna(0, inplace = True)
telecom['count_rech_3g_7'].fillna(0, inplace = True)
telecom['count_rech_3g_8'].fillna(0, inplace = True)
telecom['total_rech_data_6'].fillna(0, inplace = True)
telecom['total_rech_data_7'].fillna(0, inplace = True)
telecom['total_rech_data_8'].fillna(0, inplace = True)
telecom['max_rech_data_6'].fillna(0, inplace = True)
telecom['max_rech_data_7'].fillna(0, inplace = True)
telecom['max_rech_data_8'].fillna(0, inplace = True)
telecom['av_rech_amt_data_6'].fillna(0, inplace = True)
telecom['av_rech_amt_data_7'].fillna(0, inplace = True)
telecom['av_rech_amt_data_8'].fillna(0, inplace = True)
telecom['arpu_3g_6'].fillna(0, inplace = True)
telecom['arpu_3g_7'].fillna(0, inplace = True)
telecom['arpu_3g_8'].fillna(0, inplace = True)
telecom['arpu_2g_6'].fillna(0, inplace = True)
telecom['arpu_2g_7'].fillna(0, inplace = True)
telecom['arpu_2g_8'].fillna(0, inplace = True)
telecom['night_pck_user_6'].fillna('NA', inplace = True)
telecom['night_pck_user_7'].fillna('NA', inplace = True)
telecom['night_pck_user_8'].fillna('NA', inplace = True)
telecom['fb_user_6'].fillna('NA', inplace = True)
telecom['fb_user_7'].fillna('NA', inplace = True)
telecom['fb_user_8'].fillna('NA', inplace = True)

In [49]:
telecom['night_pck_user_6'].value_counts()

NA     18592
0.0    11076
1.0      311
Name: night_pck_user_6, dtype: int64

In [50]:
telecom.fb_user_8.value_counts()

NA     18238
1.0     9831
0.0     1910
Name: fb_user_8, dtype: int64

In [51]:
telecom[['onnet_mou_6','onnet_mou_7','onnet_mou_8','offnet_mou_6','offnet_mou_7','offnet_mou_8']].describe()

,onnet_mou_6,onnet_mou_7,onnet_mou_8,offnet_mou_6,offnet_mou_7,offnet_mou_8
count,29663.000000,29676.000000,29041.000000,29663.000000,29676.000000,29041.000000
mean,299.392147,307.701888,276.459159,422.582059,428.433657,387.277278
std,462.369385,483.432401,471.700220,471.281393,487.288606,480.450594
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,43.030000,42.775000,32.240000,141.440000,139.627500,107.680000
50%,128.480000,128.120000,106.390000,285.990000,285.630000,251.530000
75%,357.655000,365.127500,310.360000,527.605000,537.017500,493.760000
max,7376.710000,8157.780000,10752.560000,8362.360000,9667.130000,14007.340000

For the above 6 columns we have outliers so we can impute with Median Value

In [52]:
#telecom[['onnet_mou_6','onnet_mou_7','onnet_mou_8',
#         'offnet_mou_6','offnet_mou_7','offnet_mou_8']].describe()
#telecom['onnet_mou_6']=
telecom.onnet_mou_6.fillna(telecom.onnet_mou_6.median(),inplace=True)
telecom.onnet_mou_7.fillna(telecom.onnet_mou_7.median(),inplace=True)
telecom.onnet_mou_8.fillna(telecom.onnet_mou_8.median(),inplace=True)
telecom.offnet_mou_6.fillna(telecom.offnet_mou_6.median(),inplace=True)
telecom.offnet_mou_7.fillna(telecom.offnet_mou_7.median(),inplace=True)
telecom.offnet_mou_8.fillna(telecom.offnet_mou_8.median(),inplace=True)

In [53]:
telecom[['roam_ic_mou_6','roam_ic_mou_7','roam_ic_mou_8','roam_og_mou_6','roam_og_mou_7','roam_og_mou_8']].describe()

,roam_ic_mou_6,roam_ic_mou_7,roam_ic_mou_8,roam_og_mou_6,roam_og_mou_7,roam_og_mou_8
count,29663.000000,29676.000000,29041.000000,29663.00000,29676.000000,29041.000000
mean,17.613734,13.673468,13.691460,29.66101,22.281627,22.177442
std,79.593002,76.719673,75.744432,119.22124,98.448242,107.926673
min,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
max,2613.310000,3813.290000,4169.810000,3775.11000,2812.040000,5337.040000

In [54]:
telecom.roam_ic_mou_6.fillna(telecom.roam_ic_mou_6.median(),inplace=True)
telecom.roam_ic_mou_7.fillna(telecom.roam_ic_mou_7.median(),inplace=True)
telecom.roam_ic_mou_8.fillna(telecom.roam_ic_mou_8.median(),inplace=True)
telecom.roam_og_mou_6.fillna(telecom.roam_og_mou_6.median(),inplace=True)
telecom.roam_og_mou_7.fillna(telecom.roam_og_mou_7.median(),inplace=True)
telecom.roam_og_mou_8.fillna(telecom.roam_og_mou_8.median(),inplace=True)

In [55]:
telecom[['loc_og_t2t_mou_6','loc_og_t2t_mou_7','loc_og_t2t_mou_8','loc_og_t2m_mou_6','loc_og_t2m_mou_7',
         'loc_og_t2m_mou_8','loc_og_t2f_mou_6','loc_og_t2f_mou_7',
         'loc_og_t2f_mou_8','loc_og_t2c_mou_6','loc_og_t2c_mou_7','loc_og_t2c_mou_8','loc_og_mou_6',
         'loc_og_mou_7','loc_og_mou_8']].describe()

,loc_og_t2t_mou_6,loc_og_t2t_mou_7,loc_og_t2t_mou_8,loc_og_t2m_mou_6,loc_og_t2m_mou_7,loc_og_t2m_mou_8,loc_og_t2f_mou_6,loc_og_t2f_mou_7,loc_og_t2f_mou_8,loc_og_t2c_mou_6,loc_og_t2c_mou_7,loc_og_t2c_mou_8,loc_og_mou_6,loc_og_mou_7,loc_og_mou_8
count,29663.000000,29676.000000,29041.000000,29663.000000,29676.000000,29041.000000,29663.000000,29676.000000,29041.000000,29663.000000,29676.000000,29041.000000,29663.000000,29676.000000,29041.000000
mean,95.742759,96.765436,90.000551,183.268532,183.174937,173.030627,7.053548,7.172642,6.705906,1.584424,1.882820,1.769414,286.073738,287.122076,269.745785
std,238.016910,249.324601,238.064175,250.855944,241.340643,236.689325,22.780541,22.702787,20.518192,6.927055,9.305441,7.513241,381.029238,376.804351,369.470137
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8.810000,9.590000,7.230000,31.750000,35.137500,26.860000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,53.390000,59.487500,45.390000
50%,33.340000,33.890000,30.830000,103.530000,106.140000,95.930000,0.380000,0.450000,0.310000,0.000000,0.000000,0.000000,169.560000,173.460000,157.380000
75%,92.700000,92.530000,87.590000,242.260000,241.060000,229.610000,5.205000,5.382500,4.980000,0.000000,0.130000,0.110000,377.060000,378.690000,357.540000
max,6431.330000,7400.660000,10752.560000,4729.740000,4557.140000,4961.330000,1466.030000,1196.430000,928.490000,342.860000,569.710000,351.830000,10643.380000,7674.780000,11039.910000

In [56]:
telecom[['loc_ic_t2t_mou_6','loc_ic_t2t_mou_7','loc_ic_t2t_mou_8','loc_ic_t2m_mou_6',
'loc_ic_t2m_mou_7','loc_ic_t2m_mou_8','loc_ic_t2f_mou_6','loc_ic_t2f_mou_7',
'loc_ic_t2f_mou_8','loc_ic_mou_6','loc_ic_mou_7','loc_ic_mou_8']].describe()

,loc_ic_t2t_mou_6,loc_ic_t2t_mou_7,loc_ic_t2t_mou_8,loc_ic_t2m_mou_6,loc_ic_t2m_mou_7,loc_ic_t2m_mou_8,loc_ic_t2f_mou_6,loc_ic_t2f_mou_7,loc_ic_t2f_mou_8,loc_ic_mou_6,loc_ic_mou_7,loc_ic_mou_8
count,29663.000000,29676.000000,29041.000000,29663.000000,29676.000000,29041.000000,29663.000000,29676.000000,29041.000000,29663.000000,29676.000000,29041.000000
mean,69.504337,71.047016,68.089452,161.379733,162.498289,158.612226,15.770853,16.687581,15.188150,246.664876,250.242986,241.899720
std,159.386596,168.071992,157.806028,222.657561,220.025170,218.744959,46.062813,49.724639,44.349285,313.572850,316.188509,309.094389
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8.810000,9.940000,8.080000,34.860000,39.640000,34.310000,0.000000,0.000000,0.000000,59.355000,65.780000,57.590000
50%,29.680000,30.810000,28.440000,95.510000,98.195000,94.290000,2.060000,2.330000,2.130000,153.480000,156.950000,150.010000
75%,74.620000,75.380000,72.730000,204.610000,205.190000,202.230000,12.680000,13.280000,12.280000,317.825000,319.122500,310.160000
max,6351.440000,5709.590000,4003.210000,4693.860000,4388.730000,5738.460000,1678.410000,1983.010000,1588.530000,6496.110000,6466.740000,5748.810000

In [57]:
#Impute the local Minutes of Usage columns below with median values as we see that they have outliers.
telecom.loc_og_t2t_mou_6.fillna(telecom.loc_og_t2t_mou_6.median(),inplace=True)
telecom.loc_og_t2t_mou_7.fillna(telecom.loc_og_t2t_mou_7.median(),inplace=True)
telecom.loc_og_t2t_mou_8.fillna(telecom.loc_og_t2t_mou_8.median(),inplace=True)

telecom.loc_og_t2m_mou_6.fillna(telecom.loc_og_t2m_mou_6.median(),inplace=True)
telecom.loc_og_t2m_mou_7.fillna(telecom.loc_og_t2m_mou_7.median(),inplace=True)
telecom.loc_og_t2m_mou_8.fillna(telecom.loc_og_t2m_mou_8.median(),inplace=True)

telecom.loc_og_t2f_mou_6.fillna(telecom.loc_og_t2f_mou_6.median(),inplace=True)
telecom.loc_og_t2f_mou_7.fillna(telecom.loc_og_t2f_mou_7.median(),inplace=True)
telecom.loc_og_t2f_mou_8.fillna(telecom.loc_og_t2f_mou_8.median(),inplace=True)

telecom.loc_og_t2c_mou_6.fillna(telecom.loc_og_t2c_mou_6.median(),inplace=True)
telecom.loc_og_t2c_mou_7.fillna(telecom.loc_og_t2c_mou_7.median(),inplace=True)
telecom.loc_og_t2c_mou_8.fillna(telecom.loc_og_t2c_mou_8.median(),inplace=True)

telecom.loc_og_mou_6.fillna(telecom.loc_og_mou_6.median(),inplace=True)
telecom.loc_og_mou_7.fillna(telecom.loc_og_mou_7.median(),inplace=True)
telecom.loc_og_mou_8.fillna(telecom.loc_og_mou_8.median(),inplace=True)

telecom.loc_ic_t2t_mou_6.fillna(telecom.loc_ic_t2t_mou_6.median(),inplace=True)
telecom.loc_ic_t2t_mou_7.fillna(telecom.loc_ic_t2t_mou_7.median(),inplace=True)
telecom.loc_ic_t2t_mou_8.fillna(telecom.loc_ic_t2t_mou_8.median(),inplace=True)

telecom.loc_ic_t2m_mou_6.fillna(telecom.loc_ic_t2m_mou_6.median(),inplace=True)
telecom.loc_ic_t2m_mou_7.fillna(telecom.loc_ic_t2m_mou_7.median(),inplace=True)
telecom.loc_ic_t2m_mou_8.fillna(telecom.loc_ic_t2m_mou_8.median(),inplace=True)

telecom.loc_ic_t2f_mou_6.fillna(telecom.loc_ic_t2f_mou_6.median(),inplace=True)
telecom.loc_ic_t2f_mou_7.fillna(telecom.loc_ic_t2f_mou_7.median(),inplace=True)
telecom.loc_ic_t2f_mou_8.fillna(telecom.loc_ic_t2f_mou_8.median(),inplace=True)

telecom.loc_ic_mou_6.fillna(telecom.loc_ic_mou_6.median(),inplace=True)
telecom.loc_ic_mou_7.fillna(telecom.loc_ic_mou_7.median(),inplace=True)
telecom.loc_ic_mou_8.fillna(telecom.loc_ic_mou_8.median(),inplace=True)

In [58]:
telecom[['std_og_t2t_mou_6','std_og_t2t_mou_7','std_og_t2t_mou_8',
'std_og_t2m_mou_6','std_og_t2m_mou_7','std_og_t2m_mou_8',
'std_og_t2f_mou_6','std_og_t2f_mou_7','std_og_t2f_mou_8',
'std_og_mou_6','std_og_mou_7','std_og_mou_8']].describe()

,std_og_t2t_mou_6,std_og_t2t_mou_7,std_og_t2t_mou_8,std_og_t2m_mou_6,std_og_t2m_mou_7,std_og_t2m_mou_8,std_og_t2f_mou_6,std_og_t2f_mou_7,std_og_t2f_mou_8,std_og_mou_6,std_og_mou_7,std_og_mou_8
count,29663.000000,29676.000000,29041.000000,29663.000000,29676.000000,29041.000000,29663.000000,29676.00000,29041.000000,29663.000000,29676.000000,29041.000000
mean,191.914956,202.103541,177.922163,205.376377,215.696797,185.468308,2.033503,2.05668,1.848781,399.329215,419.861391,365.243279
std,411.577801,430.004870,415.595486,415.323157,439.802803,422.331860,12.528190,13.42370,11.889492,608.562481,639.529047,622.988427
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,1.940000,1.660000,0.460000,0.000000,0.00000,0.000000,6.710000,6.380000,3.160000
50%,13.690000,14.380000,7.840000,39.440000,39.250000,27.280000,0.000000,0.00000,0.000000,131.390000,138.380000,84.910000
75%,181.725000,195.230000,143.780000,214.390000,227.467500,174.860000,0.000000,0.00000,0.000000,579.245000,621.660000,502.210000
max,7366.580000,8133.660000,8014.430000,8314.760000,9284.740000,13950.040000,628.560000,544.63000,516.910000,8432.990000,10936.730000,13980.060000

In [59]:
telecom[['std_ic_t2t_mou_6','std_ic_t2t_mou_7','std_ic_t2t_mou_8',
'std_ic_t2m_mou_6','std_ic_t2m_mou_7','std_ic_t2m_mou_8',
'std_ic_t2f_mou_6','std_ic_t2f_mou_7','std_ic_t2f_mou_8',
'std_ic_mou_6','std_ic_mou_7','std_ic_mou_8']].describe()

,std_ic_t2t_mou_6,std_ic_t2t_mou_7,std_ic_t2t_mou_8,std_ic_t2m_mou_6,std_ic_t2m_mou_7,std_ic_t2m_mou_8,std_ic_t2f_mou_6,std_ic_t2f_mou_7,std_ic_t2f_mou_8,std_ic_mou_6,std_ic_mou_7,std_ic_mou_8
count,29663.000000,29676.000000,29041.000000,29663.000000,29676.000000,29041.000000,29663.000000,29676.000000,29041.000000,29663.000000,29676.000000,29041.000000
mean,16.411298,17.078657,15.547828,32.371603,33.831256,31.415797,2.907568,3.025899,2.769714,51.694485,53.939896,49.737203
std,79.300976,85.149106,73.579277,101.609873,106.319301,106.871833,20.042560,20.624196,20.599286,141.211856,149.898756,142.998561
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.550000,0.560000,0.230000,0.000000,0.000000,0.000000,2.860000,3.010000,2.040000
50%,1.130000,1.290000,0.780000,7.350000,7.760000,6.380000,0.000000,0.000000,0.000000,15.430000,16.480000,13.630000
75%,10.510000,11.190000,9.390000,27.970000,29.580000,26.510000,0.200000,0.280000,0.230000,48.040000,50.940000,45.190000
max,5459.560000,5800.930000,4309.290000,4630.230000,3470.380000,5645.860000,1351.110000,1136.080000,1394.890000,5459.630000,6745.760000,5957.140000

In [60]:
# #Impute the STD Minutes of Usage columns below with median values as we see that they have outliers.

telecom.std_og_t2t_mou_6.fillna(telecom.std_og_t2t_mou_6.median(),inplace=True)
telecom.std_og_t2t_mou_7.fillna(telecom.std_og_t2t_mou_7.median(),inplace=True)
telecom.std_og_t2t_mou_8.fillna(telecom.std_og_t2t_mou_8.median(),inplace=True)

telecom.std_og_t2m_mou_6.fillna(telecom.std_og_t2m_mou_6.median(),inplace=True)
telecom.std_og_t2m_mou_7.fillna(telecom.std_og_t2m_mou_7.median(),inplace=True)
telecom.std_og_t2m_mou_8.fillna(telecom.std_og_t2m_mou_8.median(),inplace=True)

telecom.std_og_t2f_mou_6.fillna(telecom.std_og_t2f_mou_6.median(),inplace=True)
telecom.std_og_t2f_mou_7.fillna(telecom.std_og_t2f_mou_7.median(),inplace=True)
telecom.std_og_t2f_mou_8.fillna(telecom.std_og_t2f_mou_8.median(),inplace=True)

telecom.std_og_mou_6.fillna(telecom.std_og_mou_6.median(),inplace=True)
telecom.std_og_mou_7.fillna(telecom.std_og_mou_7.median(),inplace=True)
telecom.std_og_mou_8.fillna(telecom.std_og_mou_8.median(),inplace=True)


telecom.std_ic_t2t_mou_6.fillna(telecom.std_ic_t2t_mou_6.median(),inplace=True)
telecom.std_ic_t2t_mou_7.fillna(telecom.std_ic_t2t_mou_7.median(),inplace=True)
telecom.std_ic_t2t_mou_8.fillna(telecom.std_ic_t2t_mou_8.median(),inplace=True)

telecom.std_ic_t2m_mou_6.fillna(telecom.std_ic_t2m_mou_6.median(),inplace=True)
telecom.std_ic_t2m_mou_7.fillna(telecom.std_ic_t2m_mou_7.median(),inplace=True)
telecom.std_ic_t2m_mou_8.fillna(telecom.std_ic_t2m_mou_8.median(),inplace=True)

telecom.std_ic_t2f_mou_6.fillna(telecom.std_ic_t2f_mou_6.median(),inplace=True)
telecom.std_ic_t2f_mou_7.fillna(telecom.std_ic_t2f_mou_7.median(),inplace=True)
telecom.std_ic_t2f_mou_8.fillna(telecom.std_ic_t2f_mou_8.median(),inplace=True)

telecom.std_ic_mou_6.fillna(telecom.std_ic_mou_6.median(),inplace=True)
telecom.std_ic_mou_7.fillna(telecom.std_ic_mou_7.median(),inplace=True)
telecom.std_ic_mou_8.fillna(telecom.std_ic_mou_8.median(),inplace=True)

In [61]:
telecom[['isd_og_mou_6','isd_og_mou_7','isd_og_mou_8','isd_ic_mou_6','isd_ic_mou_7','isd_ic_mou_8']].describe()

,isd_og_mou_6,isd_og_mou_7,isd_og_mou_8,isd_ic_mou_6,isd_ic_mou_7,isd_ic_mou_8
count,29663.000000,29676.000000,29041.000000,29663.000000,29676.000000,29041.000000
mean,2.290991,2.230369,2.095232,11.263071,12.467359,12.065624
std,46.186003,45.874448,45.534328,67.563787,77.343430,76.095029
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,5900.660000,5490.280000,5681.540000,3965.690000,4747.910000,4100.380000

In [62]:
# Impute the ISD Minutes of Usage columns below with median values as we see that they have outliers.

telecom.isd_og_mou_6.fillna(telecom.isd_og_mou_6.median(),inplace=True)
telecom.isd_og_mou_7.fillna(telecom.isd_og_mou_7.median(),inplace=True)
telecom.isd_og_mou_8.fillna(telecom.isd_og_mou_8.median(),inplace=True)

telecom.isd_ic_mou_6.fillna(telecom.isd_ic_mou_6.median(),inplace=True)
telecom.isd_ic_mou_7.fillna(telecom.isd_ic_mou_7.median(),inplace=True)
telecom.isd_ic_mou_8.fillna(telecom.isd_ic_mou_8.median(),inplace=True)

In [63]:
telecom[['spl_og_mou_6','spl_og_mou_7','spl_og_mou_8','spl_ic_mou_6','spl_ic_mou_7','spl_ic_mou_8']].describe()

,spl_og_mou_6,spl_og_mou_7,spl_og_mou_8,spl_ic_mou_6,spl_ic_mou_7,spl_ic_mou_8
count,29663.000000,29676.000000,29041.000000,29663.000000,29676.000000,29041.00000
mean,5.983799,7.505682,7.111893,0.067447,0.018248,0.02850
std,18.719302,23.181829,23.236275,0.195231,0.182923,0.11818
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
50%,0.260000,0.830000,0.680000,0.000000,0.000000,0.00000
75%,5.280000,7.250000,6.710000,0.000000,0.000000,0.00000
max,1023.210000,1265.790000,1390.880000,19.760000,21.330000,6.23000

In [64]:
# Impute the SPL Minutes of Usage columns below with median values as we see that they have outliers.

telecom.spl_og_mou_6.fillna(telecom.spl_og_mou_6.median(),inplace=True)
telecom.spl_og_mou_7.fillna(telecom.spl_og_mou_7.median(),inplace=True)
telecom.spl_og_mou_8.fillna(telecom.spl_og_mou_8.median(),inplace=True)

telecom.spl_ic_mou_6.fillna(telecom.spl_ic_mou_6.median(),inplace=True)
telecom.spl_ic_mou_7.fillna(telecom.spl_ic_mou_7.median(),inplace=True)
telecom.spl_ic_mou_8.fillna(telecom.spl_ic_mou_8.median(),inplace=True)

In [65]:
telecom[['og_others_6','og_others_7','og_others_8','ic_others_6','ic_others_7','ic_others_8']].describe()

,og_others_6,og_others_7,og_others_8,ic_others_6,ic_others_7,ic_others_8
count,29663.000000,29676.000000,29041.000000,29663.000000,29676.000000,29041.000000
mean,0.700584,0.048137,0.061106,1.202479,1.493254,1.277311
std,2.293435,2.757213,3.375300,14.068195,15.492347,13.098826
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.080000,0.030000,0.080000
max,100.610000,370.130000,394.930000,1344.140000,1495.940000,1209.860000

In [66]:
# Impute the Other-og/ic Minutes of Usage columns below with median values as we see that they have outliers.

telecom.og_others_6.fillna(telecom.og_others_6.median(),inplace=True)
telecom.og_others_7.fillna(telecom.og_others_7.median(),inplace=True)
telecom.og_others_8.fillna(telecom.og_others_8.median(),inplace=True)

telecom.ic_others_6.fillna(telecom.ic_others_6.median(),inplace=True)
telecom.ic_others_7.fillna(telecom.ic_others_7.median(),inplace=True)
telecom.ic_others_8.fillna(telecom.ic_others_8.median(),inplace=True)

In [67]:
list(zip(telecom.columns,round(100*(telecom .isnull().sum()/len(telecom.index)), 2)))

[('arpu_6', 0.0),
 ('arpu_7', 0.0),
 ('arpu_8', 0.0),
 ('onnet_mou_6', 0.0),
 ('onnet_mou_7', 0.0),
 ('onnet_mou_8', 0.0),
 ('offnet_mou_6', 0.0),
 ('offnet_mou_7', 0.0),
 ('offnet_mou_8', 0.0),
 ('roam_ic_mou_6', 0.0),
 ('roam_ic_mou_7', 0.0),
 ('roam_ic_mou_8', 0.0),
 ('roam_og_mou_6', 0.0),
 ('roam_og_mou_7', 0.0),
 ('roam_og_mou_8', 0.0),
 ('loc_og_t2t_mou_6', 0.0),
 ('loc_og_t2t_mou_7', 0.0),
 ('loc_og_t2t_mou_8', 0.0),
 ('loc_og_t2m_mou_6', 0.0),
 ('loc_og_t2m_mou_7', 0.0),
 ('loc_og_t2m_mou_8', 0.0),
 ('loc_og_t2f_mou_6', 0.0),
 ('loc_og_t2f_mou_7', 0.0),
 ('loc_og_t2f_mou_8', 0.0),
 ('loc_og_t2c_mou_6', 0.0),
 ('loc_og_t2c_mou_7', 0.0),
 ('loc_og_t2c_mou_8', 0.0),
 ('loc_og_mou_6', 0.0),
 ('loc_og_mou_7', 0.0),
 ('loc_og_mou_8', 0.0),
 ('std_og_t2t_mou_6', 0.0),
 ('std_og_t2t_mou_7', 0.0),
 ('std_og_t2t_mou_8', 0.0),
 ('std_og_t2m_mou_6', 0.0),
 ('std_og_t2m_mou_7', 0.0),
 ('std_og_t2m_mou_8', 0.0),
 ('std_og_t2f_mou_6', 0.0),
 ('std_og_t2f_mou_7', 0.0),
 ('std_og_t2f_mou_8', 0.0),
 ('std_og_mou_6', 0.0),
 ('std_og_mou_7', 0.0),
 ('std_og_mou_8', 0.0),
 ('isd_og_mou_6', 0.0),
 ('isd_og_mou_7', 0.0),
 ('isd_og_mou_8', 0.0),
 ('spl_og_mou_6', 0.0),
 ('spl_og_mou_7', 0.0),
 ('spl_og_mou_8', 0.0),
 ('og_others_6', 0.0),
 ('og_others_7', 0.0),
 ('og_others_8', 0.0),
 ('total_og_mou_6', 0.0),
 ('total_og_mou_7', 0.0),
 ('total_og_mou_8', 0.0),
 ('loc_ic_t2t_mou_6', 0.0),
 ('loc_ic_t2t_mou_7', 0.0),
 ('loc_ic_t2t_mou_8', 0.0),
 ('loc_ic_t2m_mou_6', 0.0),
 ('loc_ic_t2m_mou_7', 0.0),
 ('loc_ic_t2m_mou_8', 0.0),
 ('loc_ic_t2f_mou_6', 0.0),
 ('loc_ic_t2f_mou_7', 0.0),
 ('loc_ic_t2f_mou_8', 0.0),
 ('loc_ic_mou_6', 0.0),
 ('loc_ic_mou_7', 0.0),
 ('loc_ic_mou_8', 0.0),
 ('std_ic_t2t_mou_6', 0.0),
 ('std_ic_t2t_mou_7', 0.0),
 ('std_ic_t2t_mou_8', 0.0),
 ('std_ic_t2m_mou_6', 0.0),
 ('std_ic_t2m_mou_7', 0.0),
 ('std_ic_t2m_mou_8', 0.0),
 ('std_ic_t2f_mou_6', 0.0),
 ('std_ic_t2f_mou_7', 0.0),
 ('std_ic_t2f_mou_8', 0.0),
 ('std_ic_mou_6', 0.0),
 ('std_ic_mou_7', 0.0),
 ('std_ic_mou_8', 0.0),
 ('total_ic_mou_6', 0.0),
 ('total_ic_mou_7', 0.0),
 ('total_ic_mou_8', 0.0),
 ('spl_ic_mou_6', 0.0),
 ('spl_ic_mou_7', 0.0),
 ('spl_ic_mou_8', 0.0),
 ('isd_ic_mou_6', 0.0),
 ('isd_ic_mou_7', 0.0),
 ('isd_ic_mou_8', 0.0),
 ('ic_others_6', 0.0),
 ('ic_others_7', 0.0),
 ('ic_others_8', 0.0),
 ('total_rech_num_6', 0.0),
 ('total_rech_num_7', 0.0),
 ('total_rech_num_8', 0.0),
 ('total_rech_amt_6', 0.0),
 ('total_rech_amt_7', 0.0),
 ('total_rech_amt_8', 0.0),
 ('max_rech_amt_6', 0.0),
 ('max_rech_amt_7', 0.0),
 ('max_rech_amt_8', 0.0),
 ('last_day_rch_amt_6', 0.0),
 ('last_day_rch_amt_7', 0.0),
 ('last_day_rch_amt_8', 0.0),
 ('total_rech_data_6', 0.0),
 ('total_rech_data_7', 0.0),
 ('total_rech_data_8', 0.0),
 ('max_rech_data_6', 0.0),
 ('max_rech_data_7', 0.0),
 ('max_rech_data_8', 0.0),
 ('count_rech_2g_6', 0.0),
 ('count_rech_2g_7', 0.0),
 ('count_rech_2g_8', 0.0),
 ('count_rech_3g_6', 0.0),
 ('count_rech_3g_7', 0.0),
 ('count_rech_3g_8', 0.0),
 ('av_rech_amt_data_6', 0.0),
 ('av_rech_amt_data_7', 0.0),
 ('av_rech_amt_data_8', 0.0),
 ('vol_2g_mb_6', 0.0),
 ('vol_2g_mb_7', 0.0),
 ('vol_2g_mb_8', 0.0),
 ('vol_3g_mb_6', 0.0),
 ('vol_3g_mb_7', 0.0),
 ('vol_3g_mb_8', 0.0),
 ('arpu_3g_6', 0.0),
 ('arpu_3g_7', 0.0),
 ('arpu_3g_8', 0.0),
 ('arpu_2g_6', 0.0),
 ('arpu_2g_7', 0.0),
 ('arpu_2g_8', 0.0),
 ('night_pck_user_6', 0.0),
 ('night_pck_user_7', 0.0),
 ('night_pck_user_8', 0.0),
 ('monthly_2g_6', 0.0),
 ('monthly_2g_7', 0.0),
 ('monthly_2g_8', 0.0),
 ('sachet_2g_6', 0.0),
 ('sachet_2g_7', 0.0),
 ('sachet_2g_8', 0.0),
 ('monthly_3g_6', 0.0),
 ('monthly_3g_7', 0.0),
 ('monthly_3g_8', 0.0),
 ('sachet_3g_6', 0.0),
 ('sachet_3g_7', 0.0),
 ('sachet_3g_8', 0.0),
 ('fb_user_6', 0.0),
 ('fb_user_7', 0.0),
 ('fb_user_8', 0.0),
 ('aon', 0.0),
 ('aug_vbc_3g', 0.0),
 ('jul_vbc_3g', 0.0),
 ('jun_vbc_3g', 0.0),
 ('sep_vbc_3g', 0.0),
 ('total_rech_amt_6_7', 0.0),
 ('churn', 0.0)]

In [68]:
telecom.shape

(29979, 154)

In [69]:
# Create dummy variables for ['fb_user_6','fb_user_7','fb_user_8','night_pck_user_6','night_pck_user_7','night_pck_user_8']

telecom=pd.get_dummies(telecom,columns=['fb_user_6','fb_user_7','fb_user_8','night_pck_user_6','night_pck_user_7','night_pck_user_8'],prefix=['fb_user_6','fb_user_7','fb_user_8','night_pck_user_6','night_pck_user_7','night_pck_user_8'])
telecom.head()

,arpu_6,arpu_7,arpu_8,onnet_mou_6,onnet_mou_7,onnet_mou_8,offnet_mou_6,offnet_mou_7,offnet_mou_8,roam_ic_mou_6,...,fb_user_8_NA,night_pck_user_6_0.0,night_pck_user_6_1.0,night_pck_user_6_NA,night_pck_user_7_0.0,night_pck_user_7_1.0,night_pck_user_7_NA,night_pck_user_8_0.0,night_pck_user_8_1.0,night_pck_user_8_NA
7,1069.180,1349.850,3171.480,57.84,54.68,52.29,453.43,567.16,325.91,16.23,...,1,0,0,1,0,0,1,0,0,1
8,378.721,492.223,137.362,413.69,351.03,35.08,94.66,80.63,136.48,0.00,...,0,0,0,1,1,0,0,1,0,0
13,492.846,205.671,593.260,501.76,108.39,534.24,413.31,119.28,482.46,23.53,...,0,0,0,1,0,0,1,1,0,0
16,430.975,299.869,187.894,50.51,74.01,70.61,296.29,229.74,162.76,0.00,...,1,0,0,1,0,0,1,0,0,1
17,690.008,18.980,25.499,1185.91,9.28,7.79,61.64,0.00,5.54,0.00,...,1,0,0,1,0,0,1,0,0,1

In [70]:
#Droping _NA columns after dummy variable creation.
telecom=telecom.drop(['night_pck_user_6_NA','night_pck_user_7_NA','night_pck_user_8_NA','fb_user_6_NA','fb_user_7_NA','fb_user_8_NA'],axis=1)

In [71]:
telecom

,arpu_6,arpu_7,arpu_8,onnet_mou_6,onnet_mou_7,onnet_mou_8,offnet_mou_6,offnet_mou_7,offnet_mou_8,roam_ic_mou_6,...,fb_user_7_0.0,fb_user_7_1.0,fb_user_8_0.0,fb_user_8_1.0,night_pck_user_6_0.0,night_pck_user_6_1.0,night_pck_user_7_0.0,night_pck_user_7_1.0,night_pck_user_8_0.0,night_pck_user_8_1.0
7,1069.180,1349.850,3171.480,57.84,54.68,52.29,453.43,567.16,325.91,16.23,...,0,0,0,0,0,0,0,0,0,0
8,378.721,492.223,137.362,413.69,351.03,35.08,94.66,80.63,136.48,0.00,...,0,1,0,1,0,0,1,0,1,0
13,492.846,205.671,593.260,501.76,108.39,534.24,413.31,119.28,482.46,23.53,...,0,0,0,1,0,0,0,0,1,0
16,430.975,299.869,187.894,50.51,74.01,70.61,296.29,229.74,162.76,0.00,...,0,0,0,0,0,0,0,0,0,0
17,690.008,18.980,25.499,1185.91,9.28,7.79,61.64,0.00,5.54,0.00,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,261.269,410.614,290.851,5.01,142.59,97.61,329.58,500.14,355.48,5.06,...,1,0,0,0,1,0,1,0,0,0
99974,414.303,321.093,371.016,17.56,0.00,1.30,428.41,366.78,360.58,0.00,...,0,0,0,0,0,0,0,0,0,0
99986,644.973,455.228,564.334,806.73,549.36,775.41,784.76,617.13,595.44,0.00,...,0,1,0,1,1,0,1,0,1,0
99988,312.558,512.932,402.080,199.89,174.46,2.46,175.88,277.01,248.33,0.00,...,0,1,0,1,0,0,1,0,1,0
99997,322.991,303.386,606.817,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0,1,0,1,1,0,1,0,1,0

### Data Preparation and Model Building

In [72]:
# Importing test_train_split from sklearn library
from sklearn.model_selection import train_test_split

In [73]:
# Putting feature variable to X
X = telecom.drop('churn',axis=1)

# Putting response variable to y
y = telecom['churn']

# Splitting the data into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=101)

#### Default Hyperparameters
##### Let's first fit a random forest model with default hyperparameters.

In [74]:
# define class weights in the reverse ratio of their percentage of '1' and '0' classes
w = {0:8.85, 1:91.15}

In [75]:
# Importing random forest classifier from sklearn library
from sklearn.ensemble import RandomForestClassifier

# Running the random forest with default parameters.
rfc = RandomForestClassifier(class_weight=w)

In [76]:
# fit
rfc.fit(X_train,y_train)

RandomForestClassifier(class_weight={0: 8.85, 1: 91.15})

In [77]:
# Making predictions
predictions = rfc.predict(X_test)

In [78]:
# Importing classification report and confusion matrix from sklearn metrics
from sklearn.metrics import classification_report,confusion_matrix, accuracy_score

In [79]:
# Let's check the report of our default model
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.95      0.99      0.97      8193
           1       0.78      0.42      0.55       801

    accuracy                           0.94      8994
   macro avg       0.86      0.70      0.76      8994
weighted avg       0.93      0.94      0.93      8994

In [80]:
# Printing confusion matrix
print(confusion_matrix(y_test,predictions))

[[8096   97]
 [ 464  337]]

In [81]:
print(accuracy_score(y_test,predictions))

0.9376250833889259

### Hyperparameter Tuning

### Tuning max_depth
###### Let's try to find the optimum values for ```max_depth``` and understand how the value of max_depth impacts the overall accuracy of the ensemble.

In [ ]:
# GridSearchCV to find optimal n_estimators
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV


# specify number of folds for k-fold CV
n_folds = 5

# parameters to build the model on
parameters = {'max_depth': range(2, 20, 5)}

# instantiate the model
rf = RandomForestClassifier(class_weight=w)


# fit tree on training data
rf = GridSearchCV(rf, parameters, 
                    cv=n_folds, 
                   scoring="accuracy",return_train_score=True)
rf.fit(X_train, y_train)

In [ ]:
# scores of GridSearch CV
scores = rf.cv_results_
pd.DataFrame(scores).head()

In [ ]:
# plotting accuracies with max_depth
plt.figure()
plt.plot(scores["param_max_depth"], 
         scores["mean_train_score"], 
         label="training accuracy")
plt.plot(scores["param_max_depth"], 
         scores["mean_test_score"], 
         label="test accuracy")
plt.xlabel("max_depth")
plt.ylabel("Accuracy")
plt.legend()
plt.show()

#### You can see that as we increase the value of max_depth, both train and test scores increase till a point, but after that test score starts to decrease. The ensemble tries to overfit as we increase the max_depth.

#### Thus, controlling the depth of the constituent trees will help reduce overfitting in the forest.

### Tuning n_estimators
Let's try to find the optimum values for n_estimators and understand how the value of n_estimators impacts the overall accuracy. Notice that we'll specify an appropriately low value of max_depth, so that the trees do not overfit.

In [ ]:
# GridSearchCV to find optimal n_estimators
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV


# specify number of folds for k-fold CV
n_folds = 5

# parameters to build the model on
parameters = {'n_estimators': range(100, 1500, 400)}

# instantiate the model (note we are specifying a max_depth)
rf = RandomForestClassifier(max_depth=4,class_weight=w)


# fit tree on training data
rf = GridSearchCV(rf, parameters, 
                    cv=n_folds, 
                   scoring="accuracy",return_train_score=True)
rf.fit(X_train, y_train)

In [ ]:
# scores of GridSearch CV
scores = rf.cv_results_
pd.DataFrame(scores).head()

In [ ]:
# plotting accuracies with n_estimators
plt.figure()
plt.plot(scores["param_n_estimators"], 
         scores["mean_train_score"], 
         label="training accuracy")
plt.plot(scores["param_n_estimators"], 
         scores["mean_test_score"], 
         label="test accuracy")
plt.xlabel("n_estimators")
plt.ylabel("Accuracy")
plt.legend()
plt.show()

### Tuning max_features

####### Let's see how the model performance varies with ```max_features```, which is the maximum numbre of features considered for splitting at a node.

In [ ]:
# GridSearchCV to find optimal max_features
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV


# specify number of folds for k-fold CV
n_folds = 5

# parameters to build the model on
parameters = {'max_features': [4, 8, 14, 20, 24]}

# instantiate the model
rf = RandomForestClassifier(max_depth=4,class_weight=w)


# fit tree on training data
rf = GridSearchCV(rf, parameters, 
                    cv=n_folds, 
                   scoring="accuracy",return_train_score=True)
rf.fit(X_train, y_train)

In [ ]:
# scores of GridSearch CV
scores = rf.cv_results_
pd.DataFrame(scores).head()

In [ ]:
# plotting accuracies with max_features
plt.figure()
plt.plot(scores["param_max_features"], 
         scores["mean_train_score"], 
         label="training accuracy")
plt.plot(scores["param_max_features"], 
         scores["mean_test_score"], 
         label="test accuracy")
plt.xlabel("max_features")
plt.ylabel("Accuracy")
plt.legend()
plt.show()

Apparently, the training and test scores *both* seem to increase as we increase max_features, and the model doesn't seem to overfit more with increasing max_features. Think about why that might be the case.

### Tuning min_samples_leaf
The hyperparameter **min_samples_leaf** is the minimum number of samples required to be at a leaf node:
- If int, then consider min_samples_leaf as the minimum number.
- If float, then min_samples_leaf is a percentage and ceil(min_samples_leaf * n_samples) are the minimum number of samples for each node.

Let's now check the optimum value for min samples leaf in our case.

In [ ]:
# GridSearchCV to find optimal min_samples_leaf
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV


# specify number of folds for k-fold CV
n_folds = 5

# parameters to build the model on
parameters = {'min_samples_leaf': range(100, 400, 50)}

# instantiate the model
rf = RandomForestClassifier(class_weight=w)


# fit tree on training data
rf = GridSearchCV(rf, parameters, 
                    cv=n_folds, 
                   scoring="accuracy",return_train_score=True)
rf.fit(X_train, y_train)

In [ ]:
# scores of GridSearch CV
scores = rf.cv_results_
pd.DataFrame(scores).head()

In [ ]:
# plotting accuracies with min_samples_leaf
plt.figure()
plt.plot(scores["param_min_samples_leaf"], 
         scores["mean_train_score"], 
         label="training accuracy")
plt.plot(scores["param_min_samples_leaf"], 
         scores["mean_test_score"], 
         label="test accuracy")
plt.xlabel("min_samples_leaf")
plt.ylabel("Accuracy")
plt.legend()
plt.show()

You can see that the model starts of overfit as you decrease the value of min_samples_leaf.

### Tuning min_samples_split

Let's now look at the performance of the ensemble as we vary min_samples_split.

In [ ]:
# GridSearchCV to find optimal min_samples_split
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV


# specify number of folds for k-fold CV
n_folds = 5

# parameters to build the model on
parameters = {'min_samples_split': range(200, 500, 50)}

# instantiate the model
rf = RandomForestClassifier(class_weight=w)


# fit tree on training data
rf = GridSearchCV(rf, parameters, 
                    cv=n_folds, 
                   scoring="accuracy",return_train_score=True)
rf.fit(X_train, y_train)

In [ ]:
# scores of GridSearch CV
scores = rf.cv_results_
pd.DataFrame(scores).head()

In [ ]:
# plotting accuracies with min_samples_split
plt.figure()
plt.plot(scores["param_min_samples_split"], 
         scores["mean_train_score"], 
         label="training accuracy")
plt.plot(scores["param_min_samples_split"], 
         scores["mean_test_score"], 
         label="test accuracy")
plt.xlabel("min_samples_split")
plt.ylabel("Accuracy")
plt.legend()
plt.show()

<hr>

## Grid Search to Find Optimal Hyperparameters

We can now find the optimal hyperparameters using GridSearchCV.

In [ ]:
# Create the parameter grid based on the results of random search 
param_grid = {
    'max_depth': [4,8,10],
    'min_samples_leaf': range(100, 400, 200),
    'min_samples_split': range(200, 500, 200),
    'n_estimators': [100,200, 300], 
    'max_features': [5, 10]
}
# Create a based model
rf = RandomForestClassifier(class_weight=w)
# Instantiate the grid search model
grid_search = GridSearchCV(estimator = rf, param_grid = param_grid, 
                          cv = 3, n_jobs = -1,verbose = 1)

In [ ]:
# Fit the grid search to the data
grid_search.fit(X_train, y_train)

In [ ]:
# printing the optimal accuracy score and hyperparameters
print('We can get accuracy of',grid_search.best_score_,'using',grid_search.best_params_)

**Fitting the final model with the best parameters obtained from grid search.**

In [ ]:
# model with the best hyperparameters
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(bootstrap=True,
                             max_depth=10,
                             min_samples_leaf=100, 
                             min_samples_split=350,
                             max_features=10,
                             n_estimators=200,
                            class_weight=w)

In [ ]:
# fit
rfc.fit(X_train,y_train)

In [ ]:
# predict train
y_train_rf_predictions = rfc.predict(X_train)

In [ ]:
# predict test
y_test_rf_predictions = rfc.predict(X_test)

In [ ]:
# evaluation metrics
from sklearn.metrics import classification_report,confusion_matrix

In [ ]:
print(classification_report(y_test,y_test_rf_predictions))

In [ ]:
print(confusion_matrix(y_test,y_test_rf_predictions))

In [ ]:
# We can see that the top predictor attributes without PCA using Random Forest is  as below in the order of their Importance
list(sorted(zip(rfc.feature_importances_,X_train), reverse = True))[:20]

As we can see that the top predictor attributes without PCA using Random Forest is  as below in the order of their Importance

### ROC

In [ ]:
y_train_pred_df = pd.DataFrame(y_train_rf_predictions)
y_train_pred_df

In [ ]:
y_test_pred_df = pd.DataFrame(y_test_rf_predictions)
y_test_pred_df

In [ ]:
def draw_roc( actual, probs ):
    fpr, tpr, thresholds = metrics.roc_curve( actual, probs,
                                              drop_intermediate = False )
    auc_score = metrics.roc_auc_score( actual, probs )
    plt.figure(figsize=(6, 6))
    plt.plot( fpr, tpr, label='ROC curve (area = %0.2f)' % auc_score )
    plt.plot([0, 1], [0, 1], 'k--')
    plt.xlim([0.0, 1.0])
    plt.ylim([0.0, 1.05])
    plt.xlabel('False Positive Rate or [1 - True Negative Rate]')
    plt.ylabel('True Positive Rate')
    plt.title('Receiver operating characteristic example')
    plt.legend(loc="lower right")
    plt.show()

    return fpr, tpr, thresholds

In [ ]:
draw_roc(y_test, y_test_pred_df)

### PCA on the data

In [ ]:
X_train.shape

In [ ]:
from sklearn.decomposition import PCA

In [ ]:
pca = PCA(random_state=42)

In [ ]:
pca.fit(X_train)

#### Components from the PCA

In [ ]:
pca.components_

Looking at the explained variance ratio for each component

In [ ]:
pca.explained_variance_ratio_

Making a scree plot for the explained variance

In [ ]:
var_cumu = np.cumsum(pca.explained_variance_ratio_)

In [ ]:
fig = plt.figure(figsize=[12,8])
plt.vlines(x=28, ymax=1, ymin=0, colors="r", linestyles="--")
plt.hlines(y=0.97, xmax=30, xmin=0, colors="g", linestyles="--")
plt.plot(var_cumu)
plt.ylabel("Cumulative variance explained")
plt.show()

##### Perform PCA with 28 components

In [ ]:
from sklearn.decomposition import IncrementalPCA

In [ ]:
pca_final = IncrementalPCA(n_components=28)

In [ ]:
df_train_pca = pca_final.fit_transform(X_train)

In [ ]:
df_train_pca.shape

In [ ]:
corrmat = np.corrcoef(df_train_pca.transpose())

In [ ]:
corrmat.shape

Plotting the heatmap of the corr matrix

In [ ]:
plt.figure(figsize=[15,15])
sns.heatmap(corrmat, annot=True)

Applying the transformation on the test set

In [ ]:
df_test_pca = pca_final.transform(X_test)
df_test_pca.shape

### Model-1 with PCA:  Applying logistic regression on the data on our Principal components

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
learner_pca = LogisticRegression(class_weight=w,solver='liblinear',penalty='l1')

In [ ]:
model_pca = learner_pca.fit(df_train_pca, y_train)

In [ ]:
# predict train  
pca_logreg_train_predictions = model_pca.predict(df_train_pca)

In [ ]:
y_pca_logreg_train_pred_df = pd.DataFrame(pca_logreg_train_predictions)

In [ ]:
# predict test 
pca_logreg_test_predictions=model_pca.predict(df_test_pca)

In [ ]:
pca_logreg_test_predictions

In [ ]:
y_pca_logreg_test_pred_df = pd.DataFrame(pca_logreg_test_predictions)
y_pca_logreg_test_pred_df

In [ ]:
draw_roc(y_test, y_pca_logreg_test_pred_df)

In [ ]:
print('Train Classification Report with PCA and Logistic Regression:   *********************')
print(classification_report(y_train,y_pca_logreg_train_pred_df))
print('Test Classification Report with PCA and Logistic Regression:  *********************')
print(classification_report(y_test,y_pca_logreg_test_pred_df))

# Model-2 with PCA:  Applying Decision Trees on the data on our Principal components

In [ ]:
from sklearn.tree import DecisionTreeClassifier
#creating an instance for a decision tree classifier
#using information gain as the criteria to choose the most important variable
dec_tree = DecisionTreeClassifier(criterion='gini',\
                                 max_depth=25,
                                 max_features=22,
                                 min_samples_split=100,
                                 min_samples_leaf=50,
                                 class_weight =w )

#Fitting a decision tree on the training dataset
dec_tree.fit(df_train_pca, y_train)

# #Visualizing the decision tree

# col_names = list(df_train_pca.columns.values)
# dot_data = StringIO()
# tree.export_graphviz(dec_tree, out_file=dot_data,
#                      feature_names=col_names,
#                      filled=True,
#                      rounded=True,
#                      special_characters=True)

# graph = pydotplus.graphviz.graph_from_dot_data(dot_data.getvalue())
# display(Image(graph.create_png()))

In [ ]:
#fitting decision tree on the train dataset
y_dt_pred_train_pca=dec_tree.predict(df_train_pca)

#fitting logistic model on the test dataset
y_dt_pred_test_pca=dec_tree.predict(df_test_pca)


print('Train Classification Report PCA and NB:   *********************')
print(classification_report(y_train,y_dt_pred_train_pca))
print('Test Classification Report PCA and NB:   *********************')
print(classification_report(y_test,y_dt_pred_test_pca))

### Model-4 with PCA: Applying Random Forest on the data on our Principal components

In [ ]:
# model with the best hyperparameters
from sklearn.ensemble import RandomForestClassifier
rfc_pca = RandomForestClassifier(bootstrap=True,
                             max_depth=10,
                             min_samples_leaf=100, 
                             min_samples_split=350,
                             max_features=10,
                             n_estimators=200,
                            class_weight=w)

In [ ]:
# fit
rfc_pca.fit(df_train_pca,y_train)

In [ ]:
# predict train
rfc_pca_train_predictions = rfc_pca.predict(df_train_pca)

In [ ]:
# predict test
rfc_pca_test_predictions = rfc_pca.predict(df_test_pca)

In [ ]:
print('Train Classification Report PCA and RF:   *********************')
print(classification_report(y_train,rfc_pca_train_predictions))
print('Test Classification Report PCA and RF:   *********************')
print(classification_report(y_test,rfc_pca_test_predictions))

In [ ]:
y_test_pred_pca_df = pd.DataFrame(rfc_pca_test_predictions)
y_test_pred_pca_df

y_train_pred_pca_df = pd.DataFrame(rfc_pca_train_predictions)
y_train_pred_pca_df

In [ ]:
draw_roc(y_train, y_train_pred_pca_df)

In [ ]:
draw_roc(y_test, y_test_pred_pca_df)

### Comparison of classification models
    
    AUC provides an aggregate measure of performance across all possible classification thresholds

In [ ]:
from sklearn import metrics
import numpy as np
import matplotlib.pyplot as plt

plt.figure(figsize=(8,5),num=1).clf()

#Random Forest Classifier
y_train_rf_predictions = rfc.predict_proba(X_train)[::,1]
fpr, tpr, _ = metrics.roc_curve(y_train,  y_train_rf_predictions)
auc = metrics.roc_auc_score(y_train, y_train_rf_predictions)
plt.plot(fpr,tpr,label="Random Forest without PCA, auc="+str(auc))
plt.legend(loc=4)


#Logistic Regression with PCA
pca_logreg_train_predictions = model_pca.predict_proba(df_train_pca)[::,1]
fpr, tpr, _ = metrics.roc_curve(y_train,  pca_logreg_train_predictions)
auc = metrics.roc_auc_score(y_train,  pca_logreg_train_predictions)
plt.plot(fpr,tpr,label="Logistic Regression with PCA, auc="+str(auc))
plt.legend(loc=4)

#Decision tree with PCA
y_dt_pred_train_pca = dec_tree.predict_proba(df_train_pca)[::,1]
fpr, tpr, _ = metrics.roc_curve(y_train,  y_dt_pred_train_pca)
auc = metrics.roc_auc_score(y_train, y_dt_pred_train_pca)
plt.plot(fpr,tpr,label="DecisionTree with PCA, auc="+str(auc))
plt.legend(loc=4)

         
#Random Forest Classifier with PCA
rfc_pca_train_predictions = rfc_pca.predict_proba(df_train_pca)[::,1]
fpr, tpr, _ = metrics.roc_curve(y_train,  rfc_pca_train_predictions)
auc = metrics.roc_auc_score(y_train, rfc_pca_train_predictions)
plt.plot(fpr,tpr,label="Random Forest with PCA, auc="+str(auc))
plt.legend(loc=4)

plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.title('ROC curve on the Train data')
plt.show()

In [ ]:
from sklearn import metrics
import numpy as np
import matplotlib.pyplot as plt

plt.figure(figsize=(8,5),num=1).clf()

#Random Forest Classifier
y_test_rf_predictions = rfc.predict_proba(X_test)[::,1]
fpr, tpr, _ = metrics.roc_curve(y_test,  y_test_rf_predictions)
auc = metrics.roc_auc_score(y_test, y_test_rf_predictions)
plt.plot(fpr,tpr,label="Random Forest without PCA, auc="+str(auc))
plt.legend(loc=4)


#Logistic Regression with PCA
pca_logreg_test_predictions = model_pca.predict_proba(df_test_pca)[::,1]
fpr, tpr, _ = metrics.roc_curve(y_test,  pca_logreg_test_predictions)
auc = metrics.roc_auc_score(y_test,  pca_logreg_test_predictions)
plt.plot(fpr,tpr,label="Logistic Regression with PCA, auc="+str(auc))
plt.legend(loc=4)

#Decision tree with PCA
y_dt_pred_test_pca = dec_tree.predict_proba(df_test_pca)[::,1]
fpr, tpr, _ = metrics.roc_curve(y_test,  y_dt_pred_test_pca)
auc = metrics.roc_auc_score(y_test, y_dt_pred_test_pca)
plt.plot(fpr,tpr,label="DecisionTree with PCA, auc="+str(auc))
plt.legend(loc=4)

         
#Random Forest Classifier with PCA
rfc_pca_test_predictions = rfc_pca.predict_proba(df_test_pca)[::,1]
fpr, tpr, _ = metrics.roc_curve(y_test,  rfc_pca_test_predictions)
auc = metrics.roc_auc_score(y_test, rfc_pca_test_predictions)
plt.plot(fpr,tpr,label="Random Forest with PCA, auc="+str(auc))
plt.legend(loc=4)

plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.title('ROC curve on the test data')
plt.show()